<%- include('partials/header') %>

<%
  // Lookup label bank/provider untuk tampilan instrumen.
  const vaBankName = (banks.find(b => b.code === order.mpBankCode) || {}).name || order.mpBankCode || 'Bank';

  // Inline SVGs to guarantee 100% loading rate on all deployment environments (bypassing static directory mismatch / caching issues)
  const logoSvgs = {
    bca: `<svg fill="none" viewBox="0 0 80 26"><g fill="#0060AF" clip-path="url(#clip0_1801_3580)"><path d="M11.788 19.03c0-.999.01-3.67-.014-3.999.022-3.974-2.868-6.778-4.694-6.56-1.263.11-2.322.625-2.89 2.107-.527 1.381-.056 3.218 1.695 3.65 1.874.462 2.967.847 3.759 1.39.97.666 1.762 1.937 1.783 3.414"/><path d="M12.535 25.072c-3.302 0-6.697-.813-10.086-2.422l-.084-.041-.04-.085C.806 19.314 0 15.801 0 12.365c0-3.43.771-6.793 2.294-10l.042-.085.084-.042C5.556.752 8.93 0 12.45 0c3.279 0 6.78.838 10.126 2.427l.086.038.04.087c1.55 3.27 2.367 6.781 2.367 10.16 0 3.366-.785 6.731-2.337 10l-.041.085-.086.04c-3.088 1.462-6.57 2.235-10.07 2.235M2.762 22.21c3.293 1.549 6.578 2.33 9.773 2.33 3.39 0 6.76-.74 9.76-2.144 1.49-3.167 2.245-6.426 2.245-9.684 0-3.27-.789-6.673-2.28-9.847C19.014 1.34 15.624.53 12.45.53c-3.409 0-6.675.723-9.716 2.15C1.274 5.786.53 9.043.53 12.364c0 3.327.772 6.73 2.231 9.845"/><path d="M11.005 19.032c.006-1.28-.709-2.413-1.643-3.022-.83-.538-1.942-.891-3.737-1.347-.555-.142-1.135-.457-1.315-.859-.475.48-.562 1.556-.478 2.185.097.729.948 1.929 2.23 1.976.782.031 1.771-.169 2.246-.27.818-.176 2.113.336 2.32 1.336M12.45 2.277c-2.173 0-4.05 1.433-4.043 3.912.007 2.085 1.684 3.201 2.282 3.999.904 1.201 1.393 2.623 1.444 4.799.04 1.731.038 3.441.047 4.047h.48c-.01-.634-.031-2.449-.006-4.1.032-2.177.54-3.545 1.444-4.746.603-.798 2.279-1.914 2.283-3.999.008-2.479-1.868-3.912-4.039-3.912"/><path d="M13.001 19.03c0-.999-.011-3.67.013-3.999-.021-3.974 2.867-6.778 4.694-6.56 1.263.11 2.32.625 2.891 2.107.526 1.381.053 3.218-1.697 3.65-1.874.462-2.967.847-3.76 1.39-.969.666-1.705 1.937-1.728 3.414"/><path d="M13.783 19.032c-.006-1.28.708-2.413 1.64-3.022.832-.538 1.946-.891 3.74-1.347.556-.142 1.136-.457 1.312-.859.478.48.564 1.556.48 2.185-.099.729-.948 1.929-2.227 1.976-.782.031-1.777-.169-2.25-.27-.814-.176-2.113.336-2.32 1.336m.296 4.137-.279-2.03.672-.1c.163-.023.362.005.442.108a.57.57 0 0 1 .131.335c.026.173-.025.374-.22.474v.006c.218 0 .35.157.388.421.006.056.022.19.006.303-.044.268-.204.354-.474.392zm.431-.364c.08-.011.16-.015.224-.055.096-.064.088-.198.074-.299-.034-.22-.09-.303-.324-.269l-.147.023.093.612zm-.14-.937c.089-.015.21-.025.26-.11.026-.056.06-.1.037-.226-.027-.148-.076-.24-.265-.204l-.176.028.07.52m2.689.072q.01.059.014.118c.054.37-.014.676-.43.76-.614.119-.732-.263-.84-.798l-.058-.29c-.085-.51-.121-.898.479-1.018.337-.061.56.073.654.41.014.05.032.1.039.15l-.368.076c-.042-.127-.099-.352-.264-.333-.297.035-.199.405-.168.56l.11.555c.033.168.1.436.356.384.209-.042.118-.367.1-.5m.966.54-.127-2.1.495-.15 1.035 1.826-.389.116-.245-.464-.432.13.056.528zm.3-.98.313-.091-.415-.85m-12.401.334c.154-.495.293-.86.883-.697.316.088.511.227.502.594-.001.081-.028.165-.046.245l-.367-.101c.048-.203.078-.363-.171-.44-.289-.08-.359.27-.399.421l-.15.55c-.047.164-.104.434.15.504.21.056.337-.15.413-.45l-.257-.068.09-.319.603.195-.287 1.06-.278-.075.063-.224h-.008a.39.39 0 0 1-.42.176c-.605-.163-.542-.558-.398-1.086m2.326.611-.182.863-.41-.088.437-2.016.698.158c.408.088.532.27.474.645-.033.215-.14.446-.398.428l-.003-.004c.22.077.238.187.2.378-.017.081-.13.573-.052.653l.002.06-.423-.11c-.018-.137.042-.382.066-.518.024-.12.062-.29-.06-.353-.096-.051-.131-.049-.24-.074zm.07-.312.275.074c.168.024.26-.062.294-.265.03-.185-.009-.258-.16-.294l-.295-.06m2.443.067.405.047-.175 1.416c-.085.45-.258.646-.752.584-.503-.063-.622-.292-.592-.745l.176-1.415.408.047-.175 1.383c-.019.15-.054.373.214.4.237.018.29-.139.317-.334m1.025.742.122-2.026.778.034c.368.018.464.318.453.605-.01.174-.065.369-.217.474a.68.68 0 0 1-.433.104l-.254-.014-.05.849zm.46-1.132.207.012c.167.006.278-.06.293-.306.008-.237-.082-.277-.298-.286l-.164-.006m54.39-17.252L63.269 9.85c-1.168-.948-2.593-1.646-4.412-1.646-4.304 0-6.053 3.209-6.053 5.469 0 1.678 1.099 4.153 4.929 4.153 1.607 0 3.893-1.119 4.55-1.627l-3.059 6.513c-1.458.29-1.937.471-3.171.51-6.855.204-9.625-4.007-9.623-8.31.005-5.688 5.062-12.606 13.446-12.606.514 0 1.142.177 1.68.374l.542-.694m17.026.174L80 22.566h-6.518l-.004-3.5h-4.445l-1.463 3.5h-7.069l7.39-14.57-1.666-.011 3.167-5.823zm-5.688 6.243-2.513 5.935h2.588"/><path d="M42.315 2.16c3.228.019 5.052 1.771 5.052 4.302 0 2.334-1.924 4.399-4.036 5.467 2.174.8 2.363 2.761 2.363 4.15 0 3.353-3.365 6.486-7.74 6.486h-9.538l3.72-14.367-1.528-.01 3.125-6.027s5.957-.018 8.582 0m-3.167 8.274c.668 0 1.847-.17 2.141-1.462.323-1.402-.783-1.44-1.314-1.44l-1.896-.008-.662 2.91zm-2.681 3.605-.873 3.354h2.233c.878 0 2.075-.436 2.369-1.528.29-1.094-.547-1.826-1.423-1.826"/></g><defs><clipPath id="clip0_1801_3580"><path fill="#fff" d="M0 0h80v25.072H0z"/></clipPath></defs></svg>`,
    bni: `<svg fill="none" viewBox="0 0 80 24"><g fill-rule="evenodd" clip-path="url(#clip0_1801_2797)" clip-rule="evenodd"><path fill="#F15A23" d="m0 8.135 6.749 8.514L0 22.24zm2.716 14.106 5.079-4.248 3.51 4.248zM0 3.58l1.761 2.228 7.242 9.048 2.346-1.868s-1.948-2.294-3.256-4.853C5.536 3.132 7.346.016 7.346.016H0zm10.035 12.673 2.39-1.974s2.282 3.005 4.929 3.714c3.468.93 5.003-1.344 5.003-1.344v5.592H14.74l1.717-1.485s-.896.598-3.088-.92c-1.293-.896-3.334-3.583-3.334-3.583M10.255 0s-.763 1.039-.22 3.58c.58 2.716 2.887 5.59 2.882 5.526 0 0 .148-2.854 1.823-4.53 3.57-3.57 7.617-1.444 7.617-1.444V.016z"/><path fill="#F15A23" d="M22.357 6.896S20.1 4.96 18.137 4.96c-2.512 0-3.883 2.168-3.883 3.741 0 2.29 1.1 3.564 2.204 4.667 1.585 1.586 3.515 3.297 5.9 1.92z"/><path fill="#005E6A" d="M48.072.233H53.4s4.72 7.147 7.04 10.1a341 341 0 0 1 4.816 6.316V1.834c0-.64-1.68-1.601-1.68-1.601h6.145s-2.017.828-2.017 1.6v21.553s-1.934-1.072-4.128-3.621C61.111 16.9 52.344 5.338 52.344 5.338v14.976c0 .767 1.68 1.927 1.68 1.927h-5.952s1.632-1.17 1.632-1.927V1.834c0-.68-1.632-1.601-1.632-1.601m25.09 0H80s-1.836.87-1.836 1.6v18.481c0 .799 1.836 1.927 1.836 1.927h-6.838s1.71-1.154 1.71-1.927V1.834c0-.703-1.71-1.601-1.71-1.601m-45.209 0s1.773.884 1.773 1.6v18.481c0 .786-1.773 1.927-1.773 1.927h10.13c.634 0 7.725-1.16 7.725-6.627S40.3 9.635 40.3 9.635s3.356-.933 3.356-4.673c0-4.032-4.94-4.729-5.572-4.729zm5.382 9.04v-6.88h4.115c.633 0 2.85.739 2.85 3.481 0 2.261-2.216 3.399-2.85 3.399zm0 1.804h4.749c.633 0 4.368.97 4.368 4.212 0 3.304-3.735 4.476-4.368 4.476h-4.75z"/></g><defs><clipPath id="clip0_1801_2797"><path fill="#fff" d="M0 0h80v23.386H0z"/></clipPath></defs></svg>`,
    bri: `<svg fill="none" viewBox="0 0 108 31"><g fill="#00529C" clip-path="url(#clip0_1801_2770)"><path d="M39.636 0h-21.02C16.069 0 14 2.118 14 4.734v20.81c0 2.593 2.027 4.697 4.548 4.735H39.62c2.549 0 4.622-2.118 4.622-4.734l.01-20.811C44.253 2.118 42.184 0 39.636 0M21.115 27.853l-1.147.014c-1.39 0-2.51-1.143-2.51-2.549l-.009-.202V5.898l.009-1.036c.056-1.36 1.087-2.458 2.44-2.458h2.33c2.116 0 3.827 1.838 3.827 4.002a3.96 3.96 0 0 1-1.102 2.755l-5.945 6.03 5.574 5.678c.716.742 1.15 1.716 1.15 2.78 0 2.322-2.064 4.204-4.617 4.204m17.138-.017-10.394-.003s1.201-2.6 1.201-4.207c0-1.959-.654-3.712-1.68-4.87l-3.553-3.624 3.623-3.746c1.085-1.019 1.8-2.821 1.8-4.872 0-1.625-.448-3.064-1.175-4.11h2.52c2.114 0 3.826 1.838 3.826 4.002a3.97 3.97 0 0 1-1.098 2.755l-5.835 5.968 12.115 12.355c-.386.242-.869.352-1.35.352m2.535-3.859-8.683-8.85 4.135-4.2c.843-1.057 1.38-2.642 1.38-4.413 0-1.634-.458-3.112-1.188-4.157l1.849.058c1.386 0 2.514 1.14 2.514 2.55zm22.095-10.259q.255-.255.6-.653.345-.4.653-.945t.526-1.216.218-1.434q0-1.488-.508-2.777a6 6 0 0 0-1.561-2.252q-1.053-.96-2.633-1.507-1.578-.544-3.685-.544h-9.258v25.415H57.4q2.214 0 3.867-.599 1.651-.6 2.74-1.652a6.6 6.6 0 0 0 1.617-2.45q.525-1.397.526-2.996 0-2.141-.98-3.812-.981-1.67-2.288-2.578m-4.495-6.671q.516.194.851.514.867.831.868 1.988 0 1.05-.362 1.736-.362.688-.723 1.048h-7.067V6.747h4.393q1.233 0 2.04.3m-.733 9.685q1.919 0 2.845.993.871.976.872 2.31 0 1.374-.994 2.35t-3.272.977h-5.151v-6.63zm25.733.127a7.8 7.8 0 0 0 1.906-1.816 7.2 7.2 0 0 0 1.126-2.287 9.2 9.2 0 0 0 .363-2.56q0-1.706-.563-3.14a6.6 6.6 0 0 0-1.688-2.47q-1.126-1.035-2.814-1.615t-3.903-.581H67.811v25.415h4.811v-9.44h2.683l6.635 9.44h5.64l-6.86-9.765q1.524-.4 2.668-1.18M77.85 6.746q.453.002.86.054 1.288.193 2.099.922 1.103.996 1.103 2.44-.001.724-.236 1.411a3.2 3.2 0 0 1-.74 1.211q-.508.525-1.302.85-.796.325-1.917.325h-5.095V6.747zM89.28 2.39v.007c-.049-.001-.096-.007-.145-.007h-.041v25.415H94V2.39z"/></g><defs><clipPath id="clip0_1801_2770"><path fill="#fff" d="M0 0h108v30.279H0z"/></clipPath></defs></svg>`,
    mandiri: `<svg fill="none" viewBox="0 0 80 25"><g fill-rule="evenodd" clip-path="url(#clip0_1801_2667)" clip-rule="evenodd"><path fill="url(#paint0_linear_1801_2667)" d="M58.899.896c-1.54.921-5.172 3.073-6.529 3.875-.826.435-2.74.624-3.822-.883-.02-.028-1.44-1.86-1.498-1.93-.041-.049-.96-1.456-3.005-1.5-.303-.007-1.806-.015-3.273.846L34.29 5.13q0 .002-.004.003l-3.316 1.96 1.715 2.176c.803 1.03 2.613 1.826 4.182.895 0 0 5.8-3.469 5.821-3.479 2.508-1.42 4.444-1.42 5.728-.892 1.153.503 2.156 1.757 2.156 1.757s1.31 1.678 1.542 1.972c.746.948 1.98.576 1.98.576s.458-.054 1.148-.477l5.62-3.365c1.784-1.081 3.42-1.283 4.256-1.204 2.62.246 3.433 2.136 4.568 3.454.669.776 1.272 1.216 2.195 1.194.606-.013 1.291-.393 1.392-.462L80 5.228s-.69-1.073-2.104-2.744c-1.265-1.49-2.609-.816-3.68-.268-.45.23-2.08 1.35-3.697 2.132-1.15.557-2.805.39-3.71-.767-.055-.07-1.521-1.904-1.675-2.13C64.542.686 63.387 0 61.907 0c-.9 0-1.92.253-3.008.896"/><path fill="#003A70" d="M.084 16.573A45 45 0 0 0 0 13.475h2.194l.103 1.54h.062c.497-.814 1.406-1.776 3.103-1.776 1.324 0 2.358.771 2.792 1.925h.043c.352-.577.764-1.004 1.24-1.304.559-.406 1.2-.62 2.028-.62 1.675 0 3.37 1.174 3.37 4.508v6.132h-2.482v-5.746c0-1.731-.578-2.758-1.798-2.758-.87 0-1.512.642-1.78 1.39a3.8 3.8 0 0 0-.124.874v6.24H6.268v-6.025c0-1.452-.558-2.479-1.737-2.479-.952 0-1.592.77-1.82 1.495a2.3 2.3 0 0 0-.146.855v6.154H.085zm24.521 4.807c0 .94.041 1.858.145 2.5h-2.297l-.165-1.153h-.062c-.62.813-1.676 1.389-2.979 1.389-2.027 0-3.165-1.516-3.165-3.098 0-2.63 2.254-3.953 5.978-3.931v-.172c0-.684-.27-1.816-2.048-1.816-.993 0-2.028.321-2.71.769l-.497-1.708c.746-.47 2.05-.92 3.642-.92 3.228 0 4.158 2.116 4.158 4.38zm-2.483-2.584c-1.8-.043-3.516.363-3.516 1.944 0 1.025.641 1.496 1.448 1.496a2.07 2.07 0 0 0 1.985-1.432c.062-.192.083-.407.083-.577zm4.242-2.223a47 47 0 0 0-.083-3.098h2.232l.125 1.56h.061c.435-.81 1.531-1.796 3.207-1.796 1.758 0 3.579 1.175 3.579 4.467v6.174H32.94v-5.875c0-1.496-.538-2.629-1.924-2.629-1.014 0-1.717.748-1.986 1.539-.082.236-.103.557-.103.854v6.111h-2.564zm20.152-7.278v11.657c0 1.068.04 2.224.082 2.929h-2.276l-.102-1.645h-.042c-.6 1.154-1.822 1.88-3.29 1.88-2.398 0-4.301-2.115-4.301-5.32-.022-3.483 2.088-5.556 4.508-5.556 1.386 0 2.38.599 2.834 1.369h.042V9.295zM43.97 17.81c0-.211-.021-.469-.061-.682-.228-1.025-1.035-1.859-2.194-1.859-1.634 0-2.544 1.496-2.544 3.44 0 1.902.91 3.29 2.524 3.29 1.033 0 1.944-.725 2.192-1.857a3 3 0 0 0 .083-.771zm4.343 6.07h2.568V13.476h-2.568zm4.366-7.05c0-1.41-.022-2.416-.083-3.355h2.214l.08 1.986h.086c.496-1.474 1.675-1.986 2.75-1.986.248 0 .393-.044.6 0v2.308a3.4 3.4 0 0 0-.745-.085c-1.22 0-2.048.811-2.275 1.985-.04.236-.082.515-.082.815v5.383h-2.545zm6.826 7.05h2.564V13.476h-2.564z"/></g><defs><linearGradient id="paint0_linear_1801_2667" x1="0" x2="80" y1="24.116" y2="24.116" gradientUnits="userSpaceOnUse"><stop stop-color="#FFCA06"/><stop offset=".331" stop-color="#FBAA18"/><stop offset=".695" stop-color="#FFC907"/><stop offset="1" stop-color="#FAA619"/></linearGradient><clipPath id="clip0_1801_2667"><path fill="#fff" d="M0 0h80v24.116H0z"/></clipPath></defs></svg>`,
    dana: `<svg fill="none" viewBox="0 0 80 23"><g clip-path="url(#clip0_1801_11897)"><g clip-path="url(#clip1_1801_11897)"><path fill="#008CEB" fill-rule="evenodd" d="M31.623 17.349c1.52.109 3.292-1.073 3.916-1.747 2.17-2.347 2.222-5.742.038-8.201-.813-.915-2.723-1.927-3.931-1.784H27.27v11.717l4.362.015zm-1.885-2.539V8.14a16 16 0 0 1 2.057 0 3.2 3.2 0 0 1 1.493.578c2.513 1.718 1.466 5.812-1.535 6.086q-1.008.071-2.015.006m40.292 2.56h2.494v-2.526h4.948l.015 2.513h2.494v-4.163c0-1.257.105-2.823-.209-3.96a4.947 4.947 0 0 0-9.527-.053c-.335 1.123-.222 2.733-.222 3.98 0 1.407-.014 2.822 0 4.23zm2.496-5.066c-.015-1.047-.126-2.168.366-2.974a2.43 2.43 0 0 1 2.126-1.209 2.47 2.47 0 0 1 2.111 1.22c.486.837.37 1.884.358 2.965zm-31.02 5.064h2.485c0-.528-.067-2.143.023-2.526h4.93l.017 2.523h2.49c-.013-1.399 0-2.795 0-4.188 0-1.194.111-2.903-.21-3.962a4.948 4.948 0 0 0-9.526-.049c-.333 1.09-.22 2.754-.22 3.967 0 1.399-.031 2.833 0 4.228zm2.487-5.064c-.016-1.047-.123-2.183.37-2.972a2.452 2.452 0 0 1 4.236 0c.488.838.37 1.901.362 2.967zm11.833-2.111-.036 1.744c0 1.466-.07 4.203 0 5.395h2.438c.057-.838-.088-6.788.065-6.978 0-1.156 1.208-2.232 2.427-2.237a2.43 2.43 0 0 1 1.7.679c.31.283.786.928.778 1.579.113.065.023 6.283.058 6.972h2.44l-.019-7.11c.061-.557-.274-1.418-.49-1.854a4.934 4.934 0 0 0-8.852-.075c-.21.43-.561 1.313-.509 1.885" clip-rule="evenodd"/><path fill="#008CEB" d="M11.437 22.873c6.316 0 11.436-5.12 11.436-11.436C22.873 5.12 17.753 0 11.437 0 5.12 0 0 5.12 0 11.437s5.12 11.436 11.437 11.436"/><path fill="#FEFEFE" d="M18.1 11.485v3.219c0 .21-.09.253-.265.15a6 6 0 0 0-.733-.372 5 5 0 0 0-2.407-.32c-.89.115-1.765.334-2.605.653-.838.282-1.659.588-2.513.825a7 7 0 0 1-2.182.287 4.63 4.63 0 0 1-2.304-.719.57.57 0 0 1-.274-.506V8.377c0-.103 0-.224.092-.276s.186.033.266.085a4.4 4.4 0 0 0 2.544.754 6.8 6.8 0 0 0 1.902-.354c.871-.27 1.713-.628 2.57-.932q1-.385 2.046-.628a4.44 4.44 0 0 1 3.503.647.77.77 0 0 1 .367.685V11.5z"/></g></g><defs><clipPath id="clip0_1801_11897"><path fill="#fff" d="M0 0h80v22.873H0z"/></clipPath><clipPath id="clip1_1801_11897"><path fill="#fff" d="M0 0h80v22.873H0z"/></clipPath></defs></svg>`,
    gopay: `<svg fill="none" viewBox="0 0 80 18"><g clip-path="url(#clip0_1801_11423)"><path fill="#00AED6" d="M8.732 17.463A8.732 8.732 0 1 0 8.732 0a8.732 8.732 0 0 0 0 17.463"/><path fill="#00AED6" d="M8.732 17.463A8.732 8.732 0 1 0 8.732 0a8.732 8.732 0 0 0 0 17.463"/><path fill="#fff" fill-rule="evenodd" d="M13.817 8.46A2.03 2.03 0 0 0 11.7 6.55H6.185a.364.364 0 0 1 0-.728h5.588a1.74 1.74 0 0 0-1.274-1.604 14.2 14.2 0 0 0-4.922 0A2.32 2.32 0 0 0 3.831 6.16a17.3 17.3 0 0 0 0 5.17c.196.998.988 1.77 1.99 1.943 2.02.251 4.065.251 6.086 0a2.13 2.13 0 0 0 1.689-1.834c.18-.982.255-1.981.221-2.98m-1.811 1.222v.324a.364.364 0 1 1-.728 0v-.324a.546.546 0 1 1 .728 0" clip-rule="evenodd"/><path fill="#000" d="M24.366 13.078a3.75 3.75 0 0 0 3.263 1.595c1.52 0 2.639-.972 2.639-2.292v-.696h-.037a4.14 4.14 0 0 1-3.134 1.173 5.079 5.079 0 1 1-.092-10.155A4.36 4.36 0 0 1 30.23 3.84h.037v-.953h2.603v9.459c0 2.75-2.181 4.656-5.242 4.656a6.26 6.26 0 0 1-5.206-2.31zm5.792-5.884c0-1.1-1.246-2.108-2.639-2.108-1.76 0-2.933 1.063-2.933 2.658a2.568 2.568 0 0 0 2.822 2.731c1.522 0 2.75-.953 2.75-2.145zM39.69 2.61c3.172 0 5.482 2.255 5.482 5.133s-2.31 5.132-5.482 5.132a5.143 5.143 0 1 1 0-10.265m0 2.383a2.75 2.75 0 1 0 2.769 2.75 2.63 2.63 0 0 0-2.769-2.75m6.948-2.108h2.604v.862h.037a4.32 4.32 0 0 1 3.133-1.137 5.134 5.134 0 0 1 .019 10.265 4.7 4.7 0 0 1-3.043-1.026h-.037v4.876h-2.713zm5.354 2.126c-1.431 0-2.64 1.009-2.64 2.109v1.228c0 1.173 1.173 2.144 2.657 2.144a2.74 2.74 0 0 0-.017-5.48M62.568 6.81c1.778-.238 2.31-.495 2.31-.99 0-.642-.679-1.026-1.723-1.026a2.29 2.29 0 0 0-2.42 1.74l-2.567-.53c.367-1.98 2.402-3.392 4.913-3.392 2.84 0 4.602 1.449 4.602 3.813V12.6h-2.439v-1.063h-.037a4.01 4.01 0 0 1-3.281 1.338c-2.145 0-3.629-1.173-3.629-2.896 0-1.815 1.21-2.75 4.27-3.171m2.53 1.027h-.037c-.24.348-.752.55-2.071.788-1.596.293-2.163.604-2.163 1.173 0 .587.476.843 1.502.843 1.56 0 2.769-.715 2.769-1.65zm7.496 4.234-4.49-9.184h2.988l2.95 6.342h.037l2.915-6.342H80l-6.727 13.84h-2.988z"/></g><defs><clipPath id="clip0_1801_11423"><path fill="#fff" d="M0 0h80v17.463H0z"/></clipPath></defs></svg>`,
    ovo: `<svg fill="none" viewBox="0 0 64 65"><g clip-path="url(#clip0_1801_11953)"><path fill="#5827D4" d="M31.957 64.938q-9.288 0-16.532-4.091Q8.18 56.67 4.09 49.342 0 41.928 0 32.554t4.09-16.788q4.176-7.414 11.42-11.59Q22.839 0 32.128 0q9.204 0 16.447 4.176 7.329 4.09 11.334 11.504Q64 23.095 64 32.554q0 9.375-4.09 16.788-4.091 7.329-11.42 11.505-7.244 4.09-16.533 4.09m0-5.029q7.926 0 13.976-3.408 6.051-3.41 9.375-9.63 3.408-6.222 3.408-14.317 0-8.096-3.323-14.317-3.323-6.306-9.374-9.715-6.05-3.495-13.891-3.494-7.84 0-13.976 3.494-6.135 3.408-9.545 9.715-3.323 6.221-3.323 14.317T8.607 46.87t9.374 9.63 13.976 3.409m0-2.386q-7.158 0-12.697-3.068-5.54-3.153-8.608-8.777-2.982-5.71-2.982-13.124t3.068-13.124q3.068-5.709 8.522-8.863 5.539-3.153 12.697-3.153 7.159 0 12.698 3.153t8.607 8.948q3.069 5.71 3.068 13.039t-3.068 13.039q-3.068 5.624-8.607 8.777t-12.698 3.153m0-5.028q5.625 0 9.971-2.471 4.347-2.556 6.733-7.073 2.386-4.602 2.386-10.397 0-5.88-2.472-10.397Q46.19 17.555 41.843 15q-4.347-2.557-9.886-2.557T22.072 15t-6.732 7.158q-2.387 4.517-2.387 10.397 0 5.795 2.387 10.397 2.385 4.516 6.732 7.073 4.346 2.472 9.885 2.471"/></g><defs><clipPath id="clip0_1801_11953"><path fill="#fff" d="M0 0h64v64.938H0z"/></clipPath></defs></svg>`,
    shopeepay: `<svg fill="none" viewBox="0 0 80 36"><g clip-path="url(#clip0_1801_11468)"><g fill-rule="evenodd" clip-path="url(#clip1_1801_11468)" clip-rule="evenodd"><path fill="#E8451E" d="m24.955.007-23.9 3.187S0 3.317 0 4.59v22.697s.144 2.656 3.18 2.656h27.087s2.414-.577 2.414-2.994V8.22s.047-2.656-3.138-2.656H3.423a1.66 1.66 0 0 1-1.274-1.238c-.08-.42.09-.464.536-.464H26.67V1.275S26.585-.112 24.955.007"/><path fill="#fff" d="M16.825 26.09c-1.981 0-3.44-.807-5.594-2.937a.978.978 0 0 1 1.376-1.389c2.267 2.241 3.317 2.798 5.128 2.307 1.053-.288 1.997-1.626 2.052-3.165.043-1.195-.8-1.976-2.506-2.317-3.063-.613-4.872-1.784-5.373-3.483-.404-1.367.127-2.894 1.455-4.182l.054-.05c2.856-2.386 6.171-.608 7.525.667a.978.978 0 0 1-1.338 1.425c-.114-.107-2.68-2.437-4.903-.614-.76.75-1.103 1.574-.916 2.206.271.92 1.65 1.673 3.88 2.12 3.792.758 4.115 3.263 4.078 4.305-.081 2.268-1.979 4.809-3.76 5.034q-.576.073-1.158.073"/><path fill="#E8451E" d="M42.733 5.427a5.3 5.3 0 0 0-1.39-.596c-1.01-.288-1.738-.657-2.085-1.129-.31-.41-.31-.943.062-1.627.21-.41.721-.669 1.377-.72.83-.034 1.654.16 2.384.557a.443.443 0 1 0 .396-.793C42.462.597 41.46.4 40.625.462c-.97.073-1.73.496-2.097 1.178-.56 1.03-.522 1.875 0 2.581.483.633 1.364 1.118 2.568 1.452.412.115.808.282 1.178.496.472.289.782.622.932.981.144.339.164.718.058 1.07a2.5 2.5 0 0 1-.237.522c0 .025-.024.05-.049.087-.36.533-.943.806-1.651.806-.782 0-1.738-.31-2.754-.93a6 6 0 0 1-.41-.261.447.447 0 1 0-.496.744q.219.137.421.298c1.167.708 2.271 1.054 3.214 1.054 1.018 0 1.862-.396 2.396-1.19a1 1 0 0 1 .075-.125q.216-.35.334-.744a2.4 2.4 0 0 0-.1-1.663 3.08 3.08 0 0 0-1.273-1.391m6.838-.981a2.86 2.86 0 0 0-1.54.05 4.2 4.2 0 0 0-1.539.864V.884a.447.447 0 0 0-.892 0v9.22a.447.447 0 0 0 .892 0v-3.45l.025-.023c.56-.684 1.18-1.105 1.775-1.29a1.9 1.9 0 0 1 1.056-.038c.283.077.532.247.706.484.194.3.29.653.273 1.01v3.298a.447.447 0 1 0 .894 0V6.792a2.54 2.54 0 0 0-.447-1.514 2.16 2.16 0 0 0-1.203-.832m7.594 4.567a2.22 2.22 0 0 1-3.128 0 2.22 2.22 0 0 1 0-3.128 2.21 2.21 0 0 1 3.128 3.128M55.603 4.36a3.09 3.09 0 0 0 0 6.179 3.09 3.09 0 0 0 0-6.18m9.084 4.654a2.24 2.24 0 0 1-1.564.65A2.21 2.21 0 0 1 61.56 5.89a2.24 2.24 0 0 1 1.563-.645 2.21 2.21 0 0 1 1.564 3.768M63.135 4.36a3.08 3.08 0 0 0-2.183.905 1 1 0 0 0-.1.1v-.558a.447.447 0 0 0-.894 0v8.785a.447.447 0 1 0 .894 0V9.534q.054.045.1.1a3.089 3.089 0 1 0 2.183-5.274M68.5 6.766c.11-.36.308-.689.576-.954a1.883 1.883 0 0 1 2.68 0c.266.27.47.596.596.954zm3.884-1.586a2.72 2.72 0 0 0-1.961-.819 2.65 2.65 0 0 0-1.961.82c-1.068 1.153-1.055 2.394-.633 3.648.188.534.557.986 1.042 1.277a2.87 2.87 0 0 0 1.651.433 5.6 5.6 0 0 0 2.06-.472.445.445 0 1 0-.348-.819 4.5 4.5 0 0 1-1.73.41 2.14 2.14 0 0 1-1.167-.297 1.9 1.9 0 0 1-.695-.866 4 4 0 0 1-.198-.819h4.108c.223 0 .956.05.576-1.204a3 3 0 0 0-.747-1.293zm2.893 1.586c.11-.361.308-.69.577-.954a1.885 1.885 0 0 1 2.68 0c.267.27.47.596.596.954zm4.727.466v-.326a2.6 2.6 0 0 0-.098-.432 3 3 0 0 0-.745-1.298 2.7 2.7 0 0 0-1.96-.82 2.65 2.65 0 0 0-1.961.82c-1.067 1.153-1.056 2.395-.633 3.648a2.43 2.43 0 0 0 1.042 1.278 2.87 2.87 0 0 0 1.651.432 5.6 5.6 0 0 0 2.06-.471.446.446 0 1 0-.348-.82 4.5 4.5 0 0 1-1.73.41 2.14 2.14 0 0 1-1.167-.297 1.9 1.9 0 0 1-.695-.865 4 4 0 0 1-.2-.819h4.11c.162.001.595.027.67-.44zM45.03 22.064h-4.637v-6.739h4.182q.108 0 .215.012c.637.07 3.42.552 3.42 3.537 0 3.187-3.182 3.187-3.182 3.187zm-.818-9.307h-6.43v17.185h2.61v-5.13h4.1a7.7 7.7 0 0 0 3.919-1.032c1.406-.832 2.81-2.298 2.81-4.834 0-2.378-1.234-3.886-2.546-4.82a7.7 7.7 0 0 0-4.463-1.372zm13.472 14.819a3.868 3.868 0 1 1 3.867-3.874v.01a3.866 3.866 0 0 1-3.867 3.864m3.867-9.85v1.21a6.148 6.148 0 1 0 0 9.547v1.369h2.608V17.726zm3.781-.166h3.488l4.09 7.831 3.948-7.83H80v.021l-9.37 17.442h-3.07l3.577-6.482z"/></g></g><defs><clipPath id="clip0_1801_11468"><path fill="#fff" d="M0 0h80v35.024H0z"/></clipPath><clipPath id="clip1_1801_11468"><path fill="#fff" d="M0 0h80v35.024H0z"/></clipPath></defs></svg>`,
    linkaja: `<svg fill="none" viewBox="0 0 68 60"><g fill="#E82529" fill-rule="evenodd" clip-path="url(#clip0_1801_11805)" clip-rule="evenodd"><path d="M6.666 1.625h4.253a.53.53 0 0 1 .526.605L9.47 15.885a.873.873 0 0 0 .866.996h7.46c.213 0 .375.187.344.396l-.579 3.922a.416.416 0 0 1-.412.355H8.713c-2.51 0-4.916-2.051-4.562-4.527L6.14 2.085a.53.53 0 0 1 .527-.46m14.18 5.448L18.9 20.998a.37.37 0 0 0 .366.418h4.115c.293 0 .54-.215.581-.503L25.89 7.214a.528.528 0 0 0-.525-.595h-3.993a.53.53 0 0 0-.525.454m8.489 13.276c-1.27-.046-1.864.35-2.613.796.18-1.256 1.599-11.04 1.728-11.64.137-.641.261-1.71.826-2.25.663-.632 1.689-.994 6.792-1.01 5.21-.018 6.219 3.719 5.942 6.146-.235 2.078-1.01 7.212-1.23 8.646a.445.445 0 0 1-.44.379h-4.024a.483.483 0 0 1-.48-.55c.203-1.434.749-5.258.934-6.368.23-1.374.414-2.885.046-3.482-.368-.595-1.471-1.052-3.585-.686l-1.564 11.018s-1.006-.952-2.332-1M46.376.834h4.464c.166 0 .293.146.27.31l-2.777 20.053a.3.3 0 0 1-.3.26h-4.406a.3.3 0 0 1-.3-.343L46.106 1.07a.27.27 0 0 1 .27-.236m3.454 12.082 5.044-5.887a.84.84 0 0 1 .637-.293h4.429c.32 0 .488.378.274.614l-5.158 5.705L59.77 23.16a.56.56 0 0 1-.509.795h-4.003a.54.54 0 0 1-.486-.31zM26.752 2.848c-.36 1.517-1.732 2.646-3.167 2.646-1.436 0-2.536-1.23-2.175-2.747C21.77 1.23 22.96 0 24.663 0c1.435 0 2.45 1.33 2.09 2.848m4.537 22.118c-.361 1.517-1.732 2.646-3.168 2.646-1.435 0-2.536-1.23-2.175-2.747s1.55-2.747 3.253-2.747c1.435 0 2.45 1.33 2.09 2.848m21.592 18.131c-.304 1.5-1.69 2.615-3.199 2.614-1.51 0-2.727-1.217-2.423-2.716s1.492-2.714 3.283-2.713c1.51 0 2.643 1.316 2.339 2.815M14.886 35.63h-2.702c-.1 0-.17-.1-.133-.194l2.352-5.95c.045-.113.213-.088.224.033l.528 5.817a.27.27 0 0 1-.269.294m6.547 7.47-3.015-17.988a1.636 1.636 0 0 0-1.616-1.363h-3.026c-.922 0-1.76.537-2.142 1.374l-8.124 18a.393.393 0 0 0 .362.555l4.22-.025a.72.72 0 0 0 .662-.439l1.404-3.29a.24.24 0 0 1 .224-.147h5.108c.125 0 .23.094.242.219l.305 3.112a.71.71 0 0 0 .707.64h4.14a.556.556 0 0 0 .55-.647"/><path d="m19.42 46.36.975 3c.175.495.307.604.65.532 1.23-.259 4.206-1.135 5.662-3.098 1.898-2.558 2.158-7.082 2.493-9.381.276-1.894.88-6.555 1.085-8.14a.477.477 0 0 0-.475-.537h-3.784a.67.67 0 0 0-.662.576c-.305 2.238-1.404 10.286-1.596 11.401-.223 1.298-.268 3.168-2.195 4.284-.961.556-1.454.663-1.835.84-.193.09-.412.186-.318.522m20.824-6.929s-1.973.669-2.92-.04c-.948-.707-1.026-2.163-.474-4.247.553-2.085 1.934-2.438 2.526-2.478s1.705.24 1.705.24zm5.464-10.155c-1.276-.318-3.421-1.017-6.87-.765-3.182.232-6.775 1.699-7.448 7.958-.672 6.26 2.2 7.467 6.327 7.646 3.024.131 5.398-.698 6.451-1.15.367-.158.622-.496.676-.89l1.525-12.051c.06-.479-.18-.628-.66-.748m2.942 9.011 1.11-11.54c.04-.413.389-.582.806-.582h3.83c.357 0 .509.27.41.712l-2.338 11.556a.484.484 0 0 1-.474.383h-2.861a.483.483 0 0 1-.483-.529M3.823 59.566c.758.418 1.644.54 2.488.34 3.36-.793 10.794-2.928 26.521-5.194 19.758-2.846 34.347-2.834 34.347-2.834l.038-.023s-12.93-1.771-34.151.295S0 57.46 0 57.46z"/></g><defs><clipPath id="clip0_1801_11805"><path fill="#fff" d="M0 0h67.217v60H0z"/></clipPath></defs></svg>`,
    alfamart: `<svg fill="none" viewBox="0 0 80 26"><g clip-path="url(#clip0_1801_10117)"><g fill-rule="evenodd" clip-path="url(#clip1_1801_10117)" clip-rule="evenodd"><path fill="#005AAB" d="M6.07 3.95c.229.358 1.176 3.57 1.315 4.196l-2.598-.023zM14.593.092c-1.258.37-1.253 1.689-1.253 3.089 0 2.276-.092 6.566.003 8.579.112 2.37 2.746 2.612 3.42.754.276-.764.153-5.273.153-6.26 0-1.38.065-2.924-.008-4.284-.066-1.238-.911-2.292-2.316-1.88zm4.59 3.695c-1.998.01-2.042 2.27 0 2.418v4.624c0 .747-.09 1.413.233 2.02.64 1.21 2.502 1.096 3.019.052.48-.972.018-4.858.236-6.694 1.082 0 2.226-.038 2.194-1.235-.03-1.203-1.093-1.182-2.215-1.182 0-.75-.082-1.184.712-1.257.693-.064 1.23.162 1.543-.38.569-.99-.231-1.881-1.627-2.083-1.233-.179-2.442.074-3.237.649-.905.654-.858 2.023-.858 3.07zM29.83 6.098c1.436-.306 1.818 1.014 1.896 2.226.084 1.302-.059 2.851-1.352 2.966-1.493.133-1.964-.966-2.03-2.318-.071-1.431.27-2.615 1.486-2.874m2.326 7.115c-.822.27-.982.729-2.715.6a5.4 5.4 0 0 1-2.475-.796c-1.222-.767-2.218-2.282-2.148-4.405.07-2.096 1.062-3.558 2.221-4.329.66-.438 1.525-.731 2.47-.807 1.749-.143 2.076.453 2.743.59.717-1.07 2.402-.676 2.865.44l-.071 8.432c-.482.885-1.535 1.107-2.308.737-.318-.153-.323-.274-.585-.459zm-28.205-2.08 4.288-.023c.178.768.487 1.875.957 2.24.743.574 1.83.43 2.448-.17.78-.758.607-1.467.238-2.518-.289-.823-.564-1.608-.855-2.43a1449 1449 0 0 1-1.694-4.808C8.614 1.37 8.644.095 6.074.108 5 .113 4.178.324 3.765 1.017 3.361 1.695.89 9.056.314 10.642c-.35.967-.499 1.81.17 2.489.782.794 2.546 1.008 3.084-.737.131-.424.256-.822.384-1.261"/><path fill="#ED1C24" d="m0 21.474.013 1.412h64.514c3.573 0 7.149.018 10.72 0 1.416-.006 2.919-.646 3.667-1.674C79.995 19.728 80 19.122 80 16.933c-.795-.124-68.308-.034-75.284-.032C2.169 16.901 0 18.923 0 21.474m74.028-20.07c.202.495.312.323.288 1.136a8.3 8.3 0 0 1-.172 1.33c-.147.781-.375 1.574-.557 2.366-.71 3.103-2.211 8.138 2.53 7.536 1.59-.203 3.436-1.11 2.411-2.86-.683.393-2.788 1.86-2.788-.37 0-1.38.509-2.712.7-4.021 1.502-.003 3.46.328 3.557-1.954-1.067.215-2.001.309-3.144.256.137-.871.935-2.769.456-3.426-.617-.845-2.405-.21-3.283.005zM40.95 6.503c.138-.811.732-2.304 0-2.828-.674-.483-2.242-.143-2.91.235.407.333.318.888.236 1.544-.175 1.392-.614 3.333-.967 4.664-.188.707-.811 2.359-.458 3.01.476.879 1.92.628 2.872.32-.09-.729-.47-.776.3-2.326.34-.687.661-1.334 1.003-1.998.35-.68.751-1.289 1.133-1.868a10 10 0 0 1 .643-.858c.13-.157.233-.21.364-.35.188-.199.162-.259.495-.293.119.856-.793 4.253-1.032 5.261-.185.78-.616 1.895.032 2.453.555.478 1.99.28 2.568-.068-.357-.93-.081-1.504.317-2.325.342-.7.644-1.327 1.017-1.986.43-.764 1.911-3.3 2.596-3.33.118.33-.879 4.66-1.018 5.409-.193 1.049-.138 2.083.728 2.452 1.043.444 1.89-.196 2.597-.47-.107-.247.016 0-.126-.213-.115-.17-.034 0-.144-.217-.505-.997-.026-2.762.19-3.807.203-.986.847-3.499.726-4.402-.222-1.655-2.067-1.312-3.3-.46-.563.389-.922.811-1.33 1.243-.513.543-.897 1.17-1.178 1.469.076-.855.496-1.79.134-2.64-.33-.773-1.198-.96-2.174-.62-1.193.414-1.857 1.26-2.602 2.113-.136.156-.196.242-.345.442l-.367.449zm19-.295c-.2.258-1.243 2.293-1.966 3.293-.32.44-2.346 3.537-2.163.751.084-1.282.825-5.486 2.652-5.166.587.104 1.314.742 1.476 1.12zm-.925 4.192c-.242.199-.63.893-.876 1.194-.628.768-.505.55-.952 1.05-.542.605-1.619 1.33-2.859 1.137-2.25-.35-1.81-4.047-1.078-5.863 1.097-2.726 3.539-5.305 6.432-4.408.176.055.631.285.71.298.267.043.475-.196.761-.274.698-.193 2.019.028 2.501.36l-.76 2.02c-.481 1.468-.77 3.212-.83 4.767-.06 1.606.112 1.483.39 2.455-.642.566-1.887.905-2.845.312-.861-.531-.625-1.909-.591-3.05zm9.026-3.82c.734-.993 2.08-2.993 3.44-3.216 2.25-.37.716 3.139-.462 3.872-.219-.291-.44-.634-.964-.451-.647.226-1.68 1.847-2.004 2.433a20 20 0 0 0-.961 1.967c-.692 1.653-.353 1.415-.246 2.255-.92.317-2.452.602-2.992-.236-.384-.595.264-2.4.448-3.097.269-1.022.52-2.076.738-3.118.279-1.323.504-2.051.073-3.141.818-.233 2.165-.733 2.932-.126.813.642.013 1.967-.003 2.857z"/><path fill="#FFD503" d="M0 25.619h73.316c1.829 0 3.098.158 4.5-.718.76-.474 2.067-1.85 2.072-3.12-.252.17-.382.422-.626.637C76.995 24.426 75.02 24 71.815 24H.005z"/></g></g><defs><clipPath id="clip0_1801_10117"><path fill="#fff" d="M0 0h80v25.63H0z"/></clipPath><clipPath id="clip1_1801_10117"><path fill="#fff" d="M0 0h80v25.63H0z"/></clipPath></defs></svg>`,
    indomaret: `<svg fill="none" viewBox="0 0 80 27"><g clip-path="url(#clip0_1801_10685)"><g clip-path="url(#clip1_1801_10685)"><path fill="#F0F0F0" fill-rule="evenodd" d="M2.31 0h75.38c.635 0 1.214.26 1.632.678S80 1.674 80 2.31v22.228c0 .636-.26 1.215-.678 1.633a2.3 2.3 0 0 1-1.633.678H2.311c-.636 0-1.215-.26-1.633-.678A2.3 2.3 0 0 1 0 24.54V2.311C0 1.675.26 1.096.678.678A2.3 2.3 0 0 1 2.31 0" clip-rule="evenodd"/><path fill="#FECF22" fill-rule="evenodd" d="M79.12 18.226v6.313c0 .787-.644 1.43-1.43 1.43H2.31c-.786 0-1.43-.643-1.43-1.43v-6.313z" clip-rule="evenodd"/><path fill="#006AB4" d="M79.12 9.533H.88v7.785h78.24z"/><path fill="#D61627" fill-rule="evenodd" d="M2.31.88h75.38c.786 0 1.43.644 1.43 1.43v6.315H.88V2.311c0-.787.644-1.43 1.43-1.43" clip-rule="evenodd"/><path fill="#E6E6E6" fill-rule="evenodd" d="M12.834 6.315c5.247-1.555 9.688-2.479 13.92-3.018 3.79-.483 7.395-.653 11.252-.69v-.012h4.14v.014c3.825.039 7.407.212 11.172.697 4.212.54 8.632 1.463 13.848 3.008.573.17 1.13.438 1.55.857.443.443.72 1.007.72 1.727v9.052c0 .72-.277 1.284-.72 1.726-.419.42-.977.688-1.55.858-5.216 1.545-9.636 2.468-13.848 3.008-3.766.484-7.347.658-11.172.697v.013H40.79v-.005h-.516v.005h-.55v-.005h-.77v-.002c-4.172-.015-8.003-.166-12.004-.665-4.275-.534-8.771-1.464-14.117-3.047-.573-.17-1.13-.438-1.55-.858a2.36 2.36 0 0 1-.72-1.726v-9.05c0-.72.277-1.284.72-1.727.419-.419.977-.687 1.55-.857" clip-rule="evenodd"/><path fill="#006AB4" fill-rule="evenodd" d="M49.093 16.485c-.326-.456-.013-1.217.217-1.642.244-.45.605-1.022 1.177-.912.262.942-.578 2.646-1.394 2.554m-17.78-2.613c.424 1.062-.968 3.005-1.439 2.476-.382-.43.51-2.694 1.44-2.476m2.93 2.477-.165-.362c-.461.104-1.19.532-1.706.41-.28-.643 1.744-4.872 2.13-6.168l-1.015.046c-.287.473-.817 2.128-1.075 2.471-1.797-.188-2.546.33-3.277 1.289-1.19 1.556-.317 1.712-1.213 2.221-.789.45-.676.195-.735.131-.327-.285.59-2.249.679-2.677.113-.558-.176-1.004-.695-.974-.486.029-.848.373-1.194.56-1.2.646-.07-1.854-3.338.455-.252.178-.886.544-1.01.669.027-.205.968-2.235 1.16-2.712.368-.916.738-1.864 1.053-2.796-1.186-.08-4.719.533-5.793 1.491-2.031 1.811.39 4.206 1.99 2.366-.386-.277-.978-.009-1.069-.722-.078-.612.142-1.019.472-1.274.404-.31 2.176-.63 2.802-.747-.065.33-.34.954-.472 1.322-.7 1.951-1.557 4.93-4.047 5.006-1.302.041-1.675-.541-2.138-1.431-.284.322-.402.989-.237 1.475.147.436.49.738.898.933 1.945.94 3.663-.641 5.044-1.712.349-.27 1.645-1.584 2.31-1.258.372.741-.707 2.296-.73 3.066l1.281.028c.231-.635.418-1.328.638-1.995.187-.567.448-1.576 1.192-1.064.285.76-.925 2.352-.262 2.886.688.553 2.233-.555 2.6-.777.288.413.282.929 1.023 1.054.59.1 1.19-.18 1.525-.455.209.257.157.516.642.47.475-.045 1.889-.969 2.734-1.225zm24.328-1.085c-.057-.668.679-1.59 1.203-1.566.173.393-.132.825-.326 1.055-.225.265-.46.553-.877.51m-19.292-1.59.147.45c.4-.111.846-.373 1.246-.263.126.762-1.03 2.856-1.199 3.743l1.262-.026c.249-.418.51-1.396.703-1.91.2-.532.434-1.573 1.168-1.318.432.856-.744 2.39-.832 3.226l1.44.013c.267-.768.568-1.722.88-2.48.156-.377.32-.965.879-.81.637.18-.462 1.372-.45 2.427.005.472.326.887.797.84.627-.06 1.678-.919 2.217-1.04.246.556.298.902.957 1.006.674.105 1.095-.214 1.528-.465.013.014.027.035.035.044l.097.137c.132.191.207.341.528.373 1.063.107 2.632-1.59 3.245-2.398.686-.905.406-.836 1.286-.913-.193.833-1.142 2.164-.34 2.97.804.807 2.407-.282 2.894-.567.45.496.687.936 1.756.887.841-.039 1.308-.378 1.982-.573.821 1.348 3.503.022 3.4-.8-.346-.065-.75.417-1.105.608-.492.264-.992.096-1.003-.475-.005-.283.682-2.383.818-2.644l.812-.008.27-.925-.571-.01c.106-.969.62-1.799.794-2.656l-1.141.045-.916 2.534-.836.048-.197.95.657-.01c-.14.9-.661 2.118-1.12 2.69-.474.593-2.176.947-2.484-.09.399-.446 1.094-.548 1.637-1.488 1.36-2.355-1.356-2.642-2.465-1.002-.693 1.024-.479 1.342-.44 2.555-1.368.76-1.85.912-1.726-.428.124-1.356.331-1.155.557-1.396.173-.184.238-.517.05-.698-.218-.226-.59-.026-.995-.17-.258-.638.182-.744.36-1.092-.235-.056-.423-.024-.656-.06-.56-.087-.059-.101-.434-.318-.322.124-.344.136-.458.498-.327 1.043-.208 1.27-.779 2.07-.31.436-1.361 1.903-2.083 1.633-.333-.44.939-3.016 1.096-3.662-1.295-.097-1.101.15-1.283.35-1.197-.538-1.827-.08-2.562.572-1.052.935-1.098 2.28-1.227 2.428-.319.207-.967.493-1.44.321-.137-.539.7-2.118.837-2.76.144-.679-.246-1.04-.93-.863-.512.132-.71.607-1.181.669-.398-.28-.415-.866-1.227-.727-.574.098-.61.546-1.258.675-.013-.019-.023-.044-.03-.06l-.071-.178c-.032-.089-.104-.367-.248-.444-.655-.084-1.962.76-2.648.961z" clip-rule="evenodd"/><path fill="#D61627" fill-rule="evenodd" d="M36.727 13.3c.44 0 .84.179 1.127.468a1.59 1.59 0 0 1 0 2.256 1.59 1.59 0 0 1-2.255 0 1.59 1.59 0 0 1 0-2.256 1.6 1.6 0 0 1 1.128-.467m0-1.375c-.821 0-1.564.332-2.101.87a2.96 2.96 0 0 0-.87 2.101c0 .82.332 1.564.87 2.101a2.966 2.966 0 0 0 4.201 0 2.96 2.96 0 0 0 .87-2.1 2.96 2.96 0 0 0-.87-2.101 2.96 2.96 0 0 0-2.1-.87m1.867 1.104a2.63 2.63 0 0 0-1.867-.774c-.73 0-1.39.296-1.868.774a2.63 2.63 0 0 0-.773 1.867c0 .73.296 1.39.773 1.868a2.63 2.63 0 0 0 1.867.773c.73 0 1.39-.296 1.868-.773a2.63 2.63 0 0 0 .773-1.868c0-.73-.295-1.39-.773-1.867m-1.867-.416c-.631 0-1.202.255-1.615.669-.414.413-.669.984-.669 1.614s.255 1.202.67 1.615c.413.413.983.669 1.614.669.63 0 1.201-.256 1.614-.67.413-.412.669-.983.669-1.614 0-.63-.255-1.201-.67-1.614a2.27 2.27 0 0 0-1.614-.67m1.38.902a1.95 1.95 0 0 0-1.38-.572c-.54 0-1.028.219-1.381.572a1.95 1.95 0 0 0-.573 1.381 1.95 1.95 0 0 0 1.954 1.953 1.94 1.94 0 0 0 1.38-.572 1.95 1.95 0 0 0 0-2.762m-.486.487a1.263 1.263 0 0 0-1.79 0 1.263 1.263 0 0 0 0 1.789 1.263 1.263 0 0 0 1.79 0 1.263 1.263 0 0 0 0-1.79" clip-rule="evenodd"/><path fill="#D61627" fill-rule="evenodd" d="M13.205 7.579c10.367-3.072 17.497-3.646 26.121-3.663h1.5c8.555.023 15.662.61 25.969 3.663.696.205 1.32.594 1.32 1.32v9.052c0 .726-.624 1.115-1.32 1.32-10.307 3.054-17.414 3.64-25.97 3.663h-1.1c-8.805 0-15.994-.544-26.52-3.663-.697-.205-1.32-.594-1.32-1.32V8.899c0-.726.623-1.115 1.32-1.32m26.308-1.68c-8.055.03-15.271.337-24.713 2.78-.703.182-1.32.594-1.32 1.32v6.852c0 .726.617 1.139 1.32 1.32 9.368 2.423 16.546 2.745 24.526 2.779h1.35c7.979-.034 15.157-.356 24.523-2.779.703-.181 1.32-.594 1.32-1.32V9.999c0-.726-.617-1.138-1.32-1.32-9.441-2.442-16.658-2.749-24.713-2.78z" clip-rule="evenodd"/></g></g><defs><clipPath id="clip0_1801_10685"><path fill="#fff" d="M0 0h80v26.85H0z"/></clipPath><clipPath id="clip1_1801_10685"><path fill="#fff" d="M0 0h80v26.85H0z"/></clipPath></defs></svg>`
  };
%>

<div class="payment-page">
  <div class="payment-container">

    <!-- Header -->
    <div class="pay-header">
      <a href="/dashboard" class="pay-back"><i class="fas fa-arrow-left"></i></a>
      <div class="pay-header-info">
        <div class="pay-header-title">Pembayaran</div>
        <div class="pay-header-sub">Order #<%= order.orderId %></div>
      </div>
      <div class="pay-logo"><img src="/images/logo-icon.png" alt="AlexCloud Logo" width="28" height="28" style="object-fit: contain;"></div>
    </div>

    <% if (payState === 'select') { %>
    <!-- ======= PILIH METODE PEMBAYARAN ======= -->
    <div class="pay-card">
      <div class="pay-status-bar">
        <div class="pay-status-dot pending"></div>
        <span>Pilih metode pembayaran</span>
      </div>

      <!-- Ringkasan singkat -->
      <div class="pay-summary">
        <div class="pay-sum-row">
          <span>Paket</span>
          <span><strong><%= plan.name %></strong></span>
        </div>
        <% if (discount > 0) { %>
        <div class="pay-sum-row" style="color:var(--accent-green);">
          <span>Diskon Promo</span>
          <span>- Rp <%= discount.toLocaleString('id-ID') %></span>
        </div>
        <% } %>
        <div class="pay-sum-row total-row">
          <span>Total Bayar</span>
          <span class="total-val"><%= priceDisplay %></span>
        </div>
      </div>

      <!-- Daftar metode -->
      <div class="method-list">
        <%
          const vaOk = order.price >= minAmount.va;
          const retailOk = order.price >= minAmount.retail && order.price <= maxAmount.retail;
        %>
        <button type="button" class="method-card" data-method="qris">
          <div class="method-ic">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
              <rect x="3" y="3" width="7" height="7" />
              <rect x="14" y="3" width="7" height="7" />
              <rect x="14" y="14" width="7" height="7" />
              <rect x="3" y="14" width="7" height="7" />
              <line x1="7" y1="7" x2="7" y2="7" stroke-width="3.5" stroke-linecap="round" />
              <line x1="17" y1="7" x2="17" y2="7" stroke-width="3.5" stroke-linecap="round" />
              <line x1="7" y1="17" x2="7" y2="17" stroke-width="3.5" stroke-linecap="round" />
            </svg>
          </div>
          <div class="method-body">
            <div class="method-name">QRIS</div>
            <div class="method-desc">GoPay, OVO, DANA, ShopeePay, m-Banking</div>
            <div class="method-logos">
              <div class="method-logo-badge"><%- logoSvgs.dana %></div>
              <div class="method-logo-badge"><%- logoSvgs.ovo %></div>
              <div class="method-logo-badge"><%- logoSvgs.gopay %></div>
              <div class="method-logo-badge"><%- logoSvgs.shopeepay %></div>
            </div>
          </div>
          <i class="fas fa-chevron-right method-arrow"></i>
        </button>

        <button type="button" class="method-card<%= vaOk ? '' : ' disabled' %>" data-method="va" <%= vaOk ? '' : 'data-disabled="1"' %>>
          <div class="method-ic">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
              <path d="M3 22h18M6 18v-7m4 7v-7m4 7v-7m4 7v-7M3 11h18L12 3z" />
            </svg>
          </div>
          <div class="method-body">
            <div class="method-name">Virtual Account</div>
            <div class="method-desc"><%= vaOk ? 'BCA, BNI, BRI, Mandiri, Permata, dll' : ('Min. Rp' + minAmount.va.toLocaleString('id-ID')) %></div>
            <% if (vaOk) { %>
            <div class="method-logos">
              <div class="method-logo-badge"><%- logoSvgs.bca %></div>
              <div class="method-logo-badge"><%- logoSvgs.bni %></div>
              <div class="method-logo-badge"><%- logoSvgs.bri %></div>
              <div class="method-logo-badge"><%- logoSvgs.mandiri %></div>
            </div>
            <% } %>
          </div>
          <i class="fas fa-chevron-right method-arrow"></i>
        </button>

        <button type="button" class="method-card" data-method="emoney">
          <div class="method-ic">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
              <path d="M21 12V7H5a2 2 0 0 1 0-4h14a1 1 0 0 1 1 1v3" />
              <path d="M3 5v14a2 2 0 0 0 2 2h16a1 1 0 0 0 1-1v-5" />
              <path d="M16 10h6v4h-6z" />
            </svg>
          </div>
          <div class="method-body">
            <div class="method-name">E-Wallet</div>
            <div class="method-desc">DANA, ShopeePay, OVO, LinkAja</div>
            <div class="method-logos">
              <div class="method-logo-badge"><%- logoSvgs.dana %></div>
              <div class="method-logo-badge"><%- logoSvgs.shopeepay %></div>
              <div class="method-logo-badge"><%- logoSvgs.ovo %></div>
              <div class="method-logo-badge"><%- logoSvgs.linkaja %></div>
            </div>
          </div>
          <i class="fas fa-chevron-right method-arrow"></i>
        </button>

        <button type="button" class="method-card<%= retailOk ? '' : ' disabled' %>" data-method="retail" <%= retailOk ? '' : 'data-disabled="1"' %>>
          <div class="method-ic">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
              <path d="M20 20a1 1 0 0 0 1-1V8H3v11a1 1 0 0 0 1 1z" />
              <path d="M3 8V6a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v2" />
              <path d="M10 12h4" />
            </svg>
          </div>
          <div class="method-body">
            <div class="method-name">Retail / Minimarket</div>
            <div class="method-desc"><%= retailOk ? 'Alfamart, Indomaret' : ('Rp' + minAmount.retail.toLocaleString('id-ID') + ' – Rp' + maxAmount.retail.toLocaleString('id-ID')) %></div>
            <% if (retailOk) { %>
            <div class="method-logos">
              <div class="method-logo-badge"><%- logoSvgs.alfamart %></div>
              <div class="method-logo-badge"><%- logoSvgs.indomaret %></div>
            </div>
            <% } %>
          </div>
          <i class="fas fa-chevron-right method-arrow"></i>
        </button>
      </div>

      <!-- Sub-opsi per metode -->
      <div id="subPanes" style="padding:0 1.25rem;">
        <div class="sub-pane" id="sub-va">
          <label class="sub-label">Pilih Bank</label>
          <select id="vaBank" class="sub-select">
            <% banks.forEach(function(b){ %>
            <option value="<%= b.code %>"><%= b.name %></option>
            <% }); %>
          </select>
        </div>

        <div class="sub-pane" id="sub-emoney">
          <label class="sub-label">Provider E-Wallet</label>
          <select id="ewProvider" class="sub-select">
            <% ewallets.forEach(function(e){ %>
            <option value="<%= e.code %>"><%= e.name %></option>
            <% }); %>
          </select>
          <label class="sub-label" style="margin-top:0.75rem;">No. HP terdaftar di e-wallet</label>
          <input type="tel" id="ewPhone" class="sub-input" placeholder="081234567890" inputmode="numeric">
        </div>

        <div class="sub-pane" id="sub-retail">
          <label class="sub-label">Pilih Gerai</label>
          <select id="retailOutlet" class="sub-select">
            <option value="ALFAMART">Alfamart</option>
            <option value="INDOMARET">Indomaret</option>
          </select>
        </div>
      </div>

      <div id="createError" class="create-error" style="display:none;"></div>

      <div style="padding:0.5rem 1.25rem 1.25rem;">
        <button id="createBtn" class="btn-primary" style="width:100%; justify-content:center;" disabled>
          <i class="fas fa-lock"></i> Pilih metode dulu
        </button>
      </div>
    </div>

    <% } else if (payState === 'bonus') { %>
    <!-- ======= BONUS REFERRAL INVOICE ======= -->
    <div class="pay-card qris-card">
      <div class="pay-status-bar" style="background: rgba(0, 255, 136, 0.1); border-bottom: 1px solid rgba(0, 255, 136, 0.2);">
        <div class="pay-status-dot success"></div>
        <span style="color: var(--accent-green);">Bonus Aktif / Lunas</span>
      </div>

      <div class="pay-summary" style="margin-top: 1rem;">
        <div class="pay-sum-row">
          <span>Tipe Invoice</span>
          <span><strong>Bonus Referral (Ajak Teman)</strong></span>
        </div>
        <div class="pay-sum-row">
          <span>Paket</span>
          <span><strong><%= order.planName %></strong></span>
        </div>
        <div class="pay-sum-row total-row">
          <span>Total Tagihan</span>
          <span class="total-val">Rp 0</span>
        </div>
      </div>

      <div class="pay-stuck-helper" style="margin: 1.5rem 0; text-align: center; border-top: 1px dashed var(--border); padding-top: 1.5rem;">
        <div style="font-family: var(--font-ui); font-size: 0.9rem; color: var(--text-primary); margin-bottom: 0.75rem;">
          Selamat! Bonus langganan 7 hari Anda sudah langsung aktif.
        </div>
        <div style="font-family: var(--font-ui); font-size: 0.82rem; color: var(--text-muted); margin-bottom: 1rem;">
          <strong style="color:var(--accent-red); font-weight:700;">WAJIB:</strong> Silakan klik tombol di bawah untuk meminta detail akun dan agar bonus langsung diproses!
        </div>
        <%
          let waBonusMsg = 'Halo Admin AlexCloud! 🎉\n\n';
          waBonusMsg += 'Saya mau lapor klaim bonus ajak teman dan meminta detail akun saya agar bisa langsung bermain:\n';
          waBonusMsg += '📋 Invoice Bonus: *#' + order.orderId + '*\n👤 Nama: ' + user.name + '\n📧 Email: ' + user.email + '\n📦 Paket: *' + order.planName + '*\n\nTerima kasih!';
        %>
        <a href="https://wa.me/62<%= waNumber.replace(/^0/, '') %>?text=<%= encodeURIComponent(waBonusMsg) %>" target="_blank" class="wa-confirm-btn" style="margin: 0 auto; max-width: 320px; display: flex;">
          <i class="fab fa-whatsapp"></i> Konfirmasi Bonus ke Admin
        </a>
      </div>
    </div>

    <% } else if (payState === 'success') { %>
    <!-- ======= PAYMENT SUCCESS INVOICE ======= -->
    <div class="pay-card qris-card">
      <div class="pay-status-bar" style="background: rgba(0, 255, 136, 0.1); border-bottom: 1px solid rgba(0, 255, 136, 0.2);">
        <div class="pay-status-dot success"></div>
        <span style="color: var(--accent-green);">Pembayaran Lunas</span>
      </div>

      <div class="pay-summary" style="margin-top: 1rem;">
        <div class="pay-sum-row">
          <span>ID Pesanan</span>
          <span><strong><%= order.orderId %></strong></span>
        </div>
        <div class="pay-sum-row">
          <span>Paket</span>
          <span><strong><%= order.planName %></strong></span>
        </div>
        <div class="pay-sum-row total-row">
          <span>Status</span>
          <span style="color: var(--accent-green); font-weight: bold;">Terkonfirmasi</span>
        </div>
      </div>

      <div class="pay-stuck-helper" style="margin: 1.5rem 0; text-align: center; border-top: 1px dashed var(--border); padding-top: 1.5rem;">
        <div style="font-family: var(--font-ui); font-size: 0.9rem; color: var(--text-primary); margin-bottom: 0.75rem;">
          Terima kasih! Pembayaran Anda telah kami terima dan pesanan sudah aktif otomatis.
        </div>
        <div style="font-family: var(--font-ui); font-size: 0.82rem; color: var(--text-muted); margin-bottom: 1rem;">
          Silakan konfirmasi ke admin untuk meminta detail akun atau informasi tambahan lainnya.
        </div>
        <%
          let waSuccessMsg = 'Halo Admin AlexCloud! 🎉\n\n';
          waSuccessMsg += 'Saya ingin konfirmasi bahwa pesanan saya sudah berstatus LUNAS:\n';
          waSuccessMsg += '📋 ID Pesanan: *#' + order.orderId + '*\n👤 Nama: ' + user.name + '\n📧 Email: ' + user.email + '\n📦 Paket: *' + order.planName + '*\n\nTerima kasih, mohon detail akunnya segera dikirimkan!';
        %>
        <a href="https://wa.me/62<%= waNumber.replace(/^0/, '') %>?text=<%= encodeURIComponent(waSuccessMsg) %>" target="_blank" class="wa-confirm-btn" style="margin: 0 auto 0.75rem auto; max-width: 320px; display: flex;">
          <i class="fab fa-whatsapp"></i> Konfirmasi ke Admin
        </a>
        <a href="/dashboard" class="btn-primary" style="margin: 0 auto; max-width: 320px; display: flex; justify-content: center; background: rgba(255,255,255,0.1); border-color: transparent;">
          Kembali ke Dashboard
        </a>
      </div>
    </div>

    <% } else if (payState === 'instrument') { %>
    <!-- ======= INSTRUMEN PEMBAYARAN ======= -->
    <div class="pay-card qris-card">

      <!-- Status bar -->
      <div class="pay-status-bar" id="statusBar">
        <div class="pay-status-dot pending" id="statusDot"></div>
        <span id="statusText">Menunggu pembayaran...</span>
        <span class="pay-timer" id="payTimer">--:--</span>
      </div>

      <% if (methodType === 'qris') { %>
      <!-- QRIS -->
      <div class="qr-section">
        <div class="qr-brand-row">
          <img src="/images/qris-logo.svg" alt="QRIS" style="height:28px;">
          <span style="font-family:var(--font-ui); font-size:0.75rem; color:var(--text-muted); border-left:1px solid var(--border); padding-left:0.75rem; margin-left:0.25rem;">Scan dengan semua e-wallet</span>
        </div>
        <div class="qr-box" id="qrBox">
          <% if (order.fr3QrString) { %>
          <div id="qrRender" style="width:220px;height:220px;display:flex;align-items:center;justify-content:center;background:#fff;border-radius:8px;"></div>
          <% } else { %>
          <div style="width:220px;height:220px;display:flex;align-items:center;justify-content:center;background:#f0f0f0;border-radius:8px;">
            <div style="color:#999;font-size:0.8rem;text-align:center;"><i class="fas fa-exclamation-circle"></i><br>QR tidak tersedia</div>
          </div>
          <% } %>
          <div class="qr-overlay" id="qrExpired" style="display:none;">
            <div class="qr-expired-inner">
              <i class="fas fa-clock" style="font-size:2rem; color:#ff6666; margin-bottom:0.5rem;"></i>
              <div style="font-weight:700; color:#ff6666;">QR Kadaluarsa</div>
              <div style="font-size:0.8rem; color:var(--text-muted); margin-top:0.25rem;">Buat ulang pembayaran</div>
            </div>
          </div>
        </div>
        <!-- Download/Save QRIS Button -->
        <div style="margin-top: -0.25rem; margin-bottom: 1.25rem;">
          <button type="button" id="saveQrBtn" class="btn-secondary" style="font-size:0.82rem; padding:0.5rem 1rem; display:inline-flex; align-items:center; gap:0.4rem; border-radius:8px; width:100%; justify-content:center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" style="color: var(--accent-blue);">
              <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
              <polyline points="7 10 12 15 17 10"></polyline>
              <line x1="12" y1="15" x2="12" y2="3"></line>
            </svg>
            Simpan / Unduh QRIS
          </button>
        </div>
        <div style="font-family:var(--font-ui); font-size:0.8rem; color:var(--text-muted); margin-bottom:0.5rem;">Bayar sejumlah tepat:</div>
        <div class="pay-total-amount">
          Rp <%= order.fr3TotalTransfer.toLocaleString('id-ID') %>
          <% if (order.fr3UniqueCode > 0) { %><span class="unique-code-badge">+<%= order.fr3UniqueCode %> kode unik</span><% } %>
        </div>
        <% if (order.fr3UniqueCode > 0) { %>
        <div class="unique-code-note">
          <i class="fas fa-info-circle"></i>
          Bayar tepat <strong>Rp <%= order.fr3TotalTransfer.toLocaleString('id-ID') %></strong> (termasuk kode unik). Kode unik akan dikembalikan otomatis.
        </div>
        <% } %>
      </div>

      <% } else if (methodType === 'va') { %>
      <!-- VIRTUAL ACCOUNT -->
      <div class="instr-section">
        <div class="instr-head"><i class="fas fa-building-columns"></i> <%= vaBankName %> Virtual Account</div>
        <div class="copy-field">
          <div class="copy-label">Nomor Virtual Account</div>
          <div class="copy-row">
            <span class="copy-value" id="copyVa"><%= order.mpVaNumber %></span>
            <button class="copy-btn" data-copy="<%= order.mpVaNumber %>"><i class="fas fa-copy"></i> Salin</button>
          </div>
        </div>
        <% if (order.mpVaName) { %>
        <div class="instr-sub">a.n. <strong><%= order.mpVaName %></strong></div>
        <% } %>
        <div class="instr-amount">Total: Rp <%= order.fr3TotalTransfer.toLocaleString('id-ID') %></div>
        <ol class="instr-steps">
          <li>Buka m-banking / ATM, pilih menu <strong>Transfer → Virtual Account</strong>.</li>
          <li>Masukkan nomor VA di atas, pastikan nama & nominal sesuai.</li>
          <li>Selesaikan pembayaran. Status terkonfirmasi otomatis di halaman ini.</li>
        </ol>
      </div>

      <% } else if (methodType === 'emoney') { %>
      <!-- E-WALLET -->
      <div class="instr-section">
        <div class="instr-head"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align: text-bottom; margin-right: 0.2rem;"><path d="M19 7V4a1 1 0 0 0-1-1H5a2 2 0 0 0 0 4h15a1 1 0 0 1 1 1v4h-3a2 2 0 0 0 0 4h3a8 8 0 0 1-5.3 7.7 2 2 0 0 1-2.7-1.4l-1-4.2a2 2 0 0 0-1.7-1.5L5 16a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h14"></path><path d="M21 11v4h-3a2 2 0 0 1 0-4h3z"></path></svg> <%= order.mpEwalletProvider || 'E-Wallet' %></div>
        <div class="instr-amount" style="margin-top:0.25rem;">Total: Rp <%= order.fr3TotalTransfer.toLocaleString('id-ID') %></div>
        <% if (order.mpPaymentLink) { %>
        <a href="<%= order.mpPaymentLink %>" target="_blank" rel="noopener" class="btn-primary instr-open">
          <i class="fas fa-arrow-up-right-from-square"></i> Buka aplikasi <%= order.mpEwalletProvider || 'E-Wallet' %>
        </a>
        <% } %>
        <ol class="instr-steps">
          <li>Klik tombol di atas <% if (!order.mpPaymentLink) { %>atau <% } %>buka aplikasi <strong><%= order.mpEwalletProvider || 'e-wallet' %></strong> kamu.</li>
          <li>Cek notifikasi tagihan masuk, periksa nominalnya, lalu <strong>setujui pembayaran</strong>.</li>
          <li>Status akan terkonfirmasi otomatis di halaman ini.</li>
        </ol>
      </div>

      <% } else if (methodType === 'retail') { %>
      <!-- RETAIL -->
      <div class="instr-section">
        <div class="instr-head"><i class="fas fa-store"></i> <%= (order.mpRetailOutlet === 'INDOMARET') ? 'Indomaret' : 'Alfamart' %></div>
        <div class="copy-field">
          <div class="copy-label">Kode Pembayaran</div>
          <div class="copy-row">
            <span class="copy-value" id="copyCode"><%= order.mpPaymentCode %></span>
            <button class="copy-btn" data-copy="<%= order.mpPaymentCode %>"><i class="fas fa-copy"></i> Salin</button>
          </div>
        </div>
        <div class="instr-amount">Total: Rp <%= order.fr3TotalTransfer.toLocaleString('id-ID') %></div>
        <ol class="instr-steps">
          <li>Datang ke kasir <strong><%= (order.mpRetailOutlet === 'INDOMARET') ? 'Indomaret' : 'Alfamart' %></strong> terdekat.</li>
          <li>Sebutkan ingin bayar <strong>tagihan / kode pembayaran</strong>, lalu berikan kode di atas.</li>
          <li>Bayar tunai sesuai total. Status terkonfirmasi otomatis di halaman ini.</li>
        </ol>
      </div>
      <% } %>

      <!-- Order Summary -->
      <div class="pay-summary">
        <div class="pay-sum-row">
          <span>Paket</span>
          <span><strong><%= plan.name %></strong></span>
        </div>
        <div class="pay-sum-row">
          <span>Harga Paket</span>
          <span><%= priceDisplay %></span>
        </div>
        <% if (discount > 0) { %>
        <div class="pay-sum-row" style="color:var(--accent-green);">
          <span>Diskon Promo</span>
          <span>- Rp <%= discount.toLocaleString('id-ID') %></span>
        </div>
        <% } %>
        <% if (order.fr3UniqueCode > 0) { %>
        <div class="pay-sum-row" style="color:var(--accent-blue);">
          <span>Kode Unik</span>
          <span>+ Rp <%= order.fr3UniqueCode %></span>
        </div>
        <% } %>
        <div class="pay-sum-row total-row">
          <span>Total Bayar</span>
          <span class="total-val">Rp <%= order.fr3TotalTransfer.toLocaleString('id-ID') %></span>
        </div>
      </div>

      <!-- Manual status check helper -->
      <div class="pay-stuck-helper" style="margin: 1.5rem 0; text-align: center; border-top: 1px dashed var(--border); padding-top: 1.5rem;">
        <div style="font-family: var(--font-ui); font-size: 0.82rem; color: var(--text-muted); margin-bottom: 0.75rem;">
          Sudah bayar? Klik tombol di bawah jika status belum terupdate:
        </div>
        <button onclick="manualCheckStatus(this)" class="btn-primary" style="margin: 0 auto; max-width: 320px; display: flex; justify-content: center; width: 100%; gap: 0.5rem; border: none; cursor: pointer; align-items: center;">
          <i class="fas fa-sync-alt"></i> Cek Status Pembayaran
        </button>
      </div>

      <!-- Ganti metode -->
      <form action="/payment/<%= order.orderId %>/reset" method="POST" style="margin:0 1.25rem 0.25rem;">
        <button type="submit" class="btn-secondary" style="width:100%; justify-content:center;">
          <i class="fas fa-rotate-left"></i> Ganti metode pembayaran
        </button>
      </form>

      <!-- Cancel -->
      <button class="cancel-btn" id="cancelBtn" onclick="cancelPayment()">
        <i class="fas fa-times"></i> Batalkan Pembayaran
      </button>

      <!-- Cancel Confirmation Modal -->
      <div id="cancelConfirmModal" class="custom-modal" style="display: none;">
        <div class="modal-backdrop" onclick="closeCancelModal()"></div>
        <div class="modal-card">
          <div class="modal-glow"></div>
          <div class="modal-icon-wrap"><i class="fas fa-exclamation-triangle"></i></div>
          <h3 class="modal-title">Batalkan Pesanan?</h3>
          <p class="modal-desc">
            Apakah Anda yakin ingin membatalkan pesanan ini? Transaksi ini akan ditutup secara permanen.
          </p>
          <div class="modal-buttons">
            <button class="btn-confirm-yes" onclick="confirmCancelPayment()">Ya, Batalkan</button>
            <button class="btn-confirm-no" onclick="closeCancelModal()">Kembali</button>
          </div>
        </div>
      </div>

      <!-- Success state (hidden, shown on payment success) -->
      <div id="successState" style="display:none;" class="success-state">
        <div class="success-icon-wrap">
          <div class="success-icon"><i class="fas fa-check-circle"></i></div>
          <div class="success-burst"></div>
        </div>
        <div class="success-title">Pembayaran Berhasil! 🎉</div>
        <div class="success-sub">Transaksi kamu sudah terkonfirmasi otomatis oleh sistem.</div>

        <div class="success-recap">
          <div class="success-recap-row">
            <span><i class="fas fa-box"></i> Paket</span>
            <span><%= plan.name %></span>
          </div>
          <div class="success-recap-row">
            <span><i class="fas fa-receipt"></i> Order ID</span>
            <span style="font-family:var(--font-display); color:var(--accent-blue)">#<%= order.orderId %></span>
          </div>
          <div class="success-recap-row">
            <span><i class="fas fa-money-bill"></i> Total Bayar</span>
            <span style="color:var(--accent-green); font-weight:700;">Rp <%= order.fr3TotalTransfer.toLocaleString('id-ID') %></span>
          </div>
        </div>

        <div class="wa-step-box">
          <div class="wa-step-title">
            <i class="fas fa-exclamation-circle" style="color:#fbbf24;"></i>
            Langkah Terakhir!
          </div>
          <div class="wa-step-desc">
            Klik tombol di bawah untuk konfirmasi ke Admin via WhatsApp agar akun cloud gaming kamu segera dikirimkan.
            <strong style="color:white;">Jangan lewatkan langkah ini!</strong>
          </div>
          <a id="waConfirmBtn" href="#" target="_blank" class="wa-confirm-final">
            <i class="fab fa-whatsapp"></i>
            Konfirmasi & Minta Akun ke Admin
          </a>
          <div class="wa-step-note">
            <i class="fas fa-clock"></i>
            Akun akan dikirim dalam <strong>1–15 menit</strong> setelah konfirmasi WA
          </div>
        </div>

        <a href="/dashboard" class="success-dashboard-link">
          <i class="fas fa-tachometer-alt"></i> Lihat Dashboard
        </a>
      </div>
    </div>

    <% } else { %>
    <!-- ======= FALLBACK: Pembayaran Manual (semua gateway gagal) ======= -->
    <div class="pay-card qris-card">
      <div class="pay-status-bar" style="background: rgba(255, 255, 255,0.05); border-bottom: 1px solid rgba(255, 255, 255,0.1);">
        <div class="pay-status-dot pending" style="background: #ffffff; box-shadow: 0 0 8px #ffffff;"></div>
        <span>Pembayaran Manual (WhatsApp)</span>
      </div>

      <% if (fr3Error && typeof user !== 'undefined' && user && user.role === 'admin') { %>
      <div class="fr3-error-banner" style="display:flex; flex-direction:column; gap:0.5rem; align-items:flex-start; margin: 1.25rem; padding: 1rem; border-radius: 12px; background: rgba(255, 68, 68, 0.07); border: 1px solid rgba(255, 68, 68, 0.15); color: #ff8888; text-align: left;">
        <div style="display:flex; align-items:center; gap:0.5rem; font-weight:700;">
          <i class="fas fa-exclamation-triangle"></i>
          <span>Debug Admin: Gateway Error</span>
        </div>
        <span style="font-size:0.8rem; font-family:monospace; word-break:break-all;"><%= fr3Error %></span>
      </div>
      <% } %>

      <!-- Reset: kembali ke selector untuk coba metode/gateway lagi -->
      <form action="/payment/<%= order.orderId %>/reset" method="POST" style="margin: 0 1.25rem 0.25rem;">
        <button type="submit" class="btn-primary" style="width:100%; justify-content:center;">
          <i class="fas fa-rotate-right"></i> Coba pilih metode lagi
        </button>
      </form>

      <div style="padding: 1.25rem 1.25rem 0;">
        <div style="font-family:var(--font-ui); font-size:0.85rem; color:var(--text-muted); background:rgba(255,255,255,0.02); border:1px solid var(--border); border-radius:16px; padding:1.25rem; text-align:left;">
          <div style="color:white; font-family:var(--font-display); font-weight:800; font-size:1rem; margin-bottom:0.75rem; display:flex; align-items:center; gap:0.5rem;">
            <i class="fas fa-qrcode" style="color:#ffffff;"></i> Transfer Manual QRIS
          </div>
          <div style="margin-bottom:0.4rem;">Scan QRIS di bawah ini dengan e-wallet Anda.</div>
          <div style="margin-bottom:0.4rem;">Atas Nama: <strong style="color:white;">AlexCloud Admin</strong></div>
          <div style="font-size:0.78rem; color:#ffffff; margin-top:0.6rem; display:flex; align-items:center; gap:0.4rem;">
            <i class="fas fa-info-circle"></i> Silakan transfer tepat sejumlah total tagihan.
          </div>
        </div>
      </div>

      <div class="qr-section" style="padding-top:0.75rem;">
        <div style="font-family:var(--font-ui); font-size:0.78rem; color:var(--text-muted); margin-bottom:0.75rem;">
          — ATAU SCAN QRIS DI BAWAH INI —
        </div>
        <div class="qr-brand-row" style="margin-bottom:0.75rem;">
          <img src="/images/qris-logo.svg" alt="QRIS" style="height:24px;">
        </div>
        <div class="qr-box" style="padding:0.5rem; margin-bottom:0.75rem;">
          <% if (qrisImage) { %>
          <img src="<%= qrisImage %>" alt="QRIS" width="200" height="200" style="border-radius:8px; display:block; object-fit: contain; margin:0 auto;">
          <% } else { %>
          <div style="width:200px;height:200px;display:flex;align-items:center;justify-content:center;background:#f0f0f0;border-radius:8px;margin:0 auto;">
            <div style="color:#999;font-size:0.8rem;text-align:center;"><i class="fas fa-exclamation-circle"></i><br>QR tidak tersedia</div>
          </div>
          <% } %>
        </div>
        <div style="font-family:var(--font-ui); font-size:0.8rem; color:var(--text-muted); margin-bottom:0.25rem;">
          Jumlah yang harus dibayar:
        </div>
        <div class="pay-total-amount" style="font-size:1.8rem;"><%= priceDisplay %></div>
      </div>

      <div class="pay-summary">
        <div class="pay-sum-row">
          <span>Paket</span>
          <span><strong><%= plan.name %></strong></span>
        </div>
        <div class="pay-sum-row total-row">
          <span>Total</span>
          <span class="total-val"><%= priceDisplay %></span>
        </div>
      </div>

      <%
        let waMsg = 'Halo Admin AlexCloud! 👋\n\n';
        waMsg += 'Saya mau konfirmasi pembayaran manual:\n';
        waMsg += '📋 Order ID: *' + order.orderId + '*\n👤 Nama: ' + user.name + '\n📧 Email: ' + user.email + '\n📦 Paket: *' + plan.name + '*\n💰 Total: ' + priceDisplay + '\n\nMohon dibantu prosesnya. Terima kasih!';
      %>
      <a href="https://wa.me/62<%= waNumber.replace(/^0/, '') %>?text=<%= encodeURIComponent(waMsg) %>" target="_blank" class="wa-confirm-btn" style="margin:1.25rem auto; max-width:320px; display:flex;">
        <i class="fab fa-whatsapp"></i> Konfirmasi via WhatsApp
      </a>
    </div>
    <% } %>

    <!-- Info box -->
    <div class="pay-info-box">
      <i class="fas fa-shield-alt" style="color:var(--accent-blue); margin-top:2px;"></i>
      <div>
        <% if (payState === 'instrument') { %>
        Pembayaran diproses otomatis. Akun aktif dalam <strong>hitungan detik</strong> setelah pembayaran sukses & terkonfirmasi.
        <% } else if (payState === 'select') { %>
        Pilih metode pembayaran yang paling kamu sukai. Semua pembayaran diproses otomatis & aman.
        <% } else { %>
        Setelah transfer, kirim bukti ke admin WhatsApp untuk konfirmasi. Akun aktif dalam 1–15 menit.
        <% } %>
      </div>
    </div>

  </div>
</div>

<style>
.payment-page {
  min-height: 100vh;
  padding: 5rem 1rem 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: radial-gradient(ellipse at top, rgba(255, 255, 255,0.04), transparent 60%);
}
.payment-container { width: 100%; max-width: 480px; }

.pay-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.pay-back {
  width: 38px; height: 38px;
  background: rgba(255,255,255,0.05);
  border: 1px solid var(--border);
  border-radius: 10px;
  display: flex; align-items: center; justify-content: center;
  color: var(--text-secondary);
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.2s;
}
.pay-back:hover { background: rgba(255,255,255,0.1); color: var(--text-primary); }
.pay-header-info { flex: 1; }
.pay-header-title { font-family: var(--font-ui); font-weight: 800; font-size: 1.1rem; }
.pay-header-sub { font-family: var(--font-ui); font-size: 0.8rem; color: var(--text-muted); }
.pay-logo { font-size: 1.5rem; }

.pay-card {
  background: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.pay-status-bar {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.85rem 1.25rem;
  background: rgba(255,215,0,0.05);
  border-bottom: 1px solid rgba(255,215,0,0.1);
  font-family: var(--font-ui);
  font-size: 0.85rem;
  font-weight: 600;
}
.pay-status-dot {
  width: 8px; height: 8px;
  border-radius: 50%;
  animation: statusPulse 1.5s ease-in-out infinite;
  flex-shrink: 0;
}
.pay-status-dot.pending { background: #fbbf24; box-shadow: 0 0 8px #fbbf24; }
.pay-status-dot.success { background: var(--accent-green); box-shadow: 0 0 8px var(--accent-green); animation: none; }
.pay-status-dot.expired { background: #ff4444; box-shadow: 0 0 8px #ff4444; animation: none; }
@keyframes statusPulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.4; }
}
.pay-timer {
  margin-left: auto;
  font-family: var(--font-display);
  font-size: 0.9rem;
  color: var(--accent-blue);
  font-weight: 700;
  background: rgba(255, 255, 255,0.1);
  padding: 0.2rem 0.6rem;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255,0.2);
}

/* ── Method selector ─────────────────────────────────────────── */
.method-list { padding: 1rem 1.25rem 0.5rem; display: flex; flex-direction: column; gap: 0.6rem; }
.method-card {
  display: flex; align-items: center; gap: 0.85rem;
  width: 100%;
  padding: 0.9rem 1rem;
  background: rgba(255,255,255,0.03);
  border: 1.5px solid var(--border);
  border-radius: 14px;
  cursor: pointer;
  text-align: left;
  transition: 0.18s;
  font-family: var(--font-ui);
  color: var(--text-primary);
}
.method-card:hover:not(.disabled) { border-color: var(--accent-blue); background: rgba(255,255,255,0.05); }
.method-card.active { border-color: var(--accent-blue); background: rgba(0,212,255,0.08); box-shadow: 0 0 0 1px var(--accent-blue) inset; }
.method-card.disabled { opacity: 0.4; cursor: not-allowed; }
.method-ic {
  width: 42px; height: 42px; flex-shrink: 0;
  display: flex; align-items: center; justify-content: center;
  background: rgba(255,255,255,0.06);
  border-radius: 10px;
  color: var(--accent-blue);
  font-size: 1.1rem;
}
.method-body { flex: 1; min-width: 0; }
.method-name { font-weight: 800; font-size: 0.95rem; }
.method-desc { font-size: 0.74rem; color: var(--text-muted); margin-top: 0.15rem; }
.method-logos {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-top: 0.5rem;
  flex-wrap: wrap;
}
.method-logo-badge {
  background: #ffffff;
  border-radius: 4px;
  padding: 2px 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0.8;
}
.method-logo-badge img,
.method-logo-badge svg {
  height: 14px;
  max-width: 40px;
  object-fit: contain;
  display: block;
}
.method-card:hover:not(.disabled) .method-logo-badge,
.method-card.active .method-logo-badge {
  opacity: 1;
  transform: scale(1.05);
}
.method-arrow { color: var(--text-muted); font-size: 0.8rem; }

.sub-pane { display: none; padding: 0.75rem 0 0.25rem; }
.sub-pane.show { display: block; }
.sub-label { display: block; font-family: var(--font-ui); font-size: 0.78rem; color: var(--text-muted); margin-bottom: 0.4rem; font-weight: 600; }
.sub-select, .sub-input {
  width: 100%;
  padding: 0.7rem 0.85rem;
  background: rgba(255,255,255,0.04);
  border: 1px solid var(--border);
  border-radius: 10px;
  color: var(--text-primary);
  font-family: var(--font-ui);
  font-size: 0.9rem;
}
.sub-select:focus, .sub-input:focus { outline: none; border-color: var(--accent-blue); }
.sub-select option {
  background-color: #131418;
  color: #ededf0;
}
.create-error {
  margin: 0 1.25rem;
  padding: 0.7rem 0.85rem;
  background: rgba(255,68,68,0.08);
  border: 1px solid rgba(255,68,68,0.2);
  border-radius: 10px;
  color: #ff8888;
  font-family: var(--font-ui);
  font-size: 0.8rem;
}

/* ── Instrument (VA / e-wallet / retail) ─────────────────────── */
.instr-section { padding: 1.5rem; text-align: center; border-bottom: 1px solid var(--border); }
.instr-head {
  font-family: var(--font-display);
  font-weight: 800; font-size: 1.05rem;
  display: flex; align-items: center; justify-content: center; gap: 0.5rem;
  margin-bottom: 1rem;
}
.instr-head i { color: var(--accent-blue); }
.copy-field {
  background: rgba(255,255,255,0.04);
  border: 1px solid var(--border);
  border-radius: 14px;
  padding: 0.85rem 1rem;
  margin-bottom: 0.75rem;
  text-align: left;
}
.copy-label { font-family: var(--font-ui); font-size: 0.72rem; color: var(--text-muted); margin-bottom: 0.35rem; }
.copy-row { display: flex; align-items: center; gap: 0.6rem; }
.copy-value {
  flex: 1; min-width: 0;
  font-family: var(--font-display);
  font-size: 1.4rem; font-weight: 800;
  letter-spacing: 1px;
  color: var(--text-primary);
  word-break: break-all;
}
.copy-btn {
  flex-shrink: 0;
  display: inline-flex; align-items: center; gap: 0.35rem;
  padding: 0.5rem 0.7rem;
  background: var(--gradient-main, rgba(0,212,255,0.15));
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 9px;
  color: #fff;
  font-family: var(--font-ui);
  font-size: 0.75rem; font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
.copy-btn:hover { opacity: 0.9; }
.copy-btn.copied { background: var(--accent-green); color: #04210f; }
.instr-sub { font-family: var(--font-ui); font-size: 0.8rem; color: var(--text-muted); margin-bottom: 0.5rem; }
.instr-amount {
  font-family: var(--font-display);
  font-size: 1.3rem; font-weight: 900;
  background: var(--gradient-main); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text;
  margin: 0.5rem 0 0.75rem;
}
.instr-open { width: 100%; justify-content: center; margin: 0.25rem 0 0.75rem; }
.instr-steps {
  text-align: left;
  margin: 0.5rem 0 0;
  padding-left: 1.1rem;
  font-family: var(--font-ui);
  font-size: 0.82rem;
  color: var(--text-secondary);
  line-height: 1.7;
}
.instr-steps li { margin-bottom: 0.25rem; }

.qr-section { padding: 1.5rem; text-align: center; border-bottom: 1px solid var(--border); }
.qr-brand-row { display: flex; align-items: center; justify-content: center; gap: 0.5rem; margin-bottom: 1rem; }
.qr-box {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 16px;
  padding: 0.75rem;
  margin-bottom: 1rem;
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
}
#qrCanvas { display: block; }
.qr-overlay {
  position: absolute; inset: 0;
  background: rgba(0,0,0,0.8);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.qr-expired-inner { text-align: center; }
.pay-total-amount {
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 900;
  background: var(--gradient-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 0.25rem;
}
.unique-code-badge {
  font-size: 0.8rem;
  background: rgba(255, 255, 255,0.1);
  color: var(--accent-blue);
  padding: 0.15rem 0.5rem;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255,0.2);
  font-family: var(--font-ui);
  font-weight: 700;
  -webkit-text-fill-color: var(--accent-blue);
  vertical-align: middle;
}
.unique-code-note {
  font-family: var(--font-ui);
  font-size: 0.8rem;
  color: var(--text-muted);
  background: rgba(255, 255, 255,0.04);
  border: 1px solid rgba(255, 255, 255,0.1);
  border-radius: 10px;
  padding: 0.6rem 0.8rem;
  margin-top: 0.5rem;
  line-height: 1.5;
  text-align: left;
}

.pay-summary {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--border);
}
.pay-sum-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-ui);
  font-size: 0.85rem;
  padding: 0.4rem 0;
  color: var(--text-secondary);
}
.total-row {
  border-top: 1px solid var(--border);
  margin-top: 0.5rem;
  padding-top: 0.75rem;
  font-weight: 700;
  font-size: 0.95rem;
  color: var(--text-primary);
}
.total-val {
  font-family: var(--font-display);
  font-weight: 800;
  color: var(--accent-blue);
  background: var(--gradient-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.btn-secondary {
  display: inline-flex; align-items: center; gap: 0.5rem;
  padding: 0.8rem 1rem;
  background: rgba(255,255,255,0.04);
  border: 1px solid var(--border);
  border-radius: 12px;
  color: var(--text-primary);
  font-family: var(--font-ui);
  font-weight: 700;
  font-size: 0.85rem;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}
.btn-secondary:hover { background: rgba(255,255,255,0.08); border-color: var(--border-hover); }

.cancel-btn {
  width: 100%;
  padding: 0.85rem;
  background: none;
  border: none;
  color: rgba(255,100,100,0.7);
  font-family: var(--font-ui);
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.cancel-btn:hover { color: #ff6666; }

.success-state {
  padding: 1.75rem;
  text-align: center;
  border-top: 1px solid rgba(0,255,136,0.15);
  background: rgba(0,255,136,0.02);
}
.success-icon-wrap {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.75rem;
}
.success-icon {
  font-size: 3.5rem;
  color: var(--accent-green);
  animation: popIn 0.5s cubic-bezier(0.34,1.56,0.64,1);
  position: relative;
  z-index: 1;
}
.success-burst {
  position: absolute;
  width: 80px; height: 80px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(0,255,136,0.25) 0%, transparent 70%);
  animation: burst 0.6s ease-out forwards;
}
@keyframes burst { from { transform: scale(0); opacity: 1; } to { transform: scale(2.5); opacity: 0; } }
@keyframes popIn { from { transform: scale(0); opacity: 0; } to { transform: scale(1); opacity: 1; } }
.success-title {
  font-family: var(--font-display);
  font-size: 1.35rem;
  font-weight: 800;
  margin-bottom: 0.35rem;
  color: var(--accent-green);
}
.success-sub {
  font-family: var(--font-ui);
  font-size: 0.85rem;
  color: var(--text-muted);
  margin-bottom: 1.25rem;
}

.success-recap {
  background: rgba(255,255,255,0.04);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 14px;
  padding: 0.75rem 1rem;
  margin-bottom: 1.25rem;
  text-align: left;
}
.success-recap-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-ui);
  font-size: 0.82rem;
  color: var(--text-muted);
  padding: 0.4rem 0;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
.success-recap-row:last-child { border-bottom: none; }
.success-recap-row span:first-child { display: flex; align-items: center; gap: 0.4rem; }
.success-recap-row i { width: 14px; text-align: center; color: var(--accent-blue); }

.wa-step-box {
  background: linear-gradient(135deg, rgba(37,211,102,0.08), rgba(18,140,126,0.06));
  border: 1.5px solid rgba(37,211,102,0.25);
  border-radius: 18px;
  padding: 1.25rem;
  margin-bottom: 1rem;
  text-align: center;
}
.wa-step-title {
  font-family: var(--font-ui);
  font-size: 0.95rem;
  font-weight: 800;
  color: white;
  margin-bottom: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.wa-step-desc {
  font-family: var(--font-ui);
  font-size: 0.82rem;
  color: rgba(255,255,255,0.6);
  line-height: 1.6;
  margin-bottom: 1rem;
}
.wa-confirm-final {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding: 1rem 1.5rem;
  background: linear-gradient(135deg, #25d366, #128c7e);
  color: white;
  border-radius: 14px;
  font-family: var(--font-ui);
  font-weight: 800;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.2s;
  box-shadow: 0 6px 24px rgba(37,211,102,0.35);
  animation: waPulse 2s ease-in-out infinite;
  margin-bottom: 0.75rem;
}
.wa-confirm-final:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 32px rgba(37,211,102,0.5);
  animation: none;
  color: white;
}
.wa-confirm-final i { font-size: 1.2rem; }
@keyframes waPulse {
  0%, 100% { box-shadow: 0 6px 24px rgba(37,211,102,0.35); }
  50% { box-shadow: 0 6px 36px rgba(37,211,102,0.6); }
}
.wa-step-note {
  font-family: var(--font-ui);
  font-size: 0.75rem;
  color: rgba(255,255,255,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.success-dashboard-link {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  font-family: var(--font-ui);
  font-size: 0.82rem;
  color: var(--text-muted);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border);
  border-radius: 10px;
  transition: 0.2s;
}
.success-dashboard-link:hover { color: var(--text-primary); border-color: rgba(255,255,255,0.2); }

.fr3-error-banner {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  padding: 1rem 1.25rem;
  background: rgba(255,100,100,0.07);
  border-bottom: 1px solid rgba(255,100,100,0.15);
  font-family: var(--font-ui);
  font-size: 0.85rem;
  color: #ff8888;
}
.manual-qr-img { max-width: 220px; border-radius: 12px; margin-bottom: 1rem; }
.wa-confirm-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  margin: 1.25rem;
  padding: 1rem;
  background: linear-gradient(135deg, #25d366, #128c7e);
  color: white;
  border-radius: 14px;
  font-family: var(--font-ui);
  font-weight: 800;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.2s;
}
.wa-confirm-btn:hover { opacity: 0.9; transform: translateY(-1px); }

.pay-info-box {
  display: flex;
  gap: 0.75rem;
  padding: 1rem 1.25rem;
  background: rgba(255, 255, 255,0.04);
  border: 1px solid rgba(255, 255, 255,0.1);
  border-radius: 14px;
  font-family: var(--font-ui);
  font-size: 0.82rem;
  color: var(--text-muted);
  line-height: 1.6;
}

/* Custom Confirm Modal Style */
.custom-modal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-backdrop {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(8, 8, 16, 0.75);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  animation: modalFadeIn 0.25s ease-out;
}
.modal-card {
  position: relative;
  background: #14142b;
  border: 1px solid rgba(255, 68, 68, 0.25);
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  padding: 2.25rem 1.75rem;
  text-align: center;
  box-shadow: 0 16px 48px rgba(255, 68, 68, 0.15), 0 0 0 1px rgba(255, 255, 255, 0.05);
  animation: modalScaleIn 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  z-index: 10;
  overflow: hidden;
}
.modal-glow {
  position: absolute;
  top: -100px; left: 50%;
  transform: translateX(-50%);
  width: 250px; height: 200px;
  background: radial-gradient(circle, rgba(255, 68, 68, 0.12) 0%, transparent 70%);
  pointer-events: none;
}
.modal-icon-wrap {
  width: 56px; height: 56px;
  border-radius: 50%;
  background: rgba(255, 68, 68, 0.1);
  border: 1px solid rgba(255, 68, 68, 0.3);
  color: #ff4444;
  font-size: 1.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1.25rem;
  box-shadow: 0 0 20px rgba(255, 68, 68, 0.1);
  animation: iconPulse 2s infinite;
}
.modal-title {
  font-family: var(--font-display);
  font-size: 1.35rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0.75rem;
  letter-spacing: 0.5px;
}
.modal-desc {
  font-family: var(--font-ui);
  font-size: 0.85rem;
  color: var(--text-muted);
  line-height: 1.6;
  margin-bottom: 1.75rem;
}
.modal-buttons {
  display: flex;
  gap: 0.75rem;
}
.btn-confirm-yes {
  flex: 1;
  padding: 0.8rem;
  background: linear-gradient(135deg, #ff4444, #cc1111);
  border: none;
  border-radius: 12px;
  color: #fff;
  font-family: var(--font-ui);
  font-weight: 700;
  font-size: 0.85rem;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(255, 68, 68, 0.25);
  transition: all 0.2s ease;
}
.btn-confirm-yes:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 20px rgba(255, 68, 68, 0.4);
}
.btn-confirm-no {
  flex: 1;
  padding: 0.8rem;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid var(--border);
  border-radius: 12px;
  color: var(--text-primary);
  font-family: var(--font-ui);
  font-weight: 600;
  font-size: 0.85rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn-confirm-no:hover {
  background: rgba(255, 255, 255, 0.08);
  border-color: var(--border-hover);
}

@keyframes modalFadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes modalScaleIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
@keyframes iconPulse {
  0% { transform: scale(1); box-shadow: 0 0 0 0 rgba(255, 68, 68, 0.4); }
  70% { transform: scale(1.05); box-shadow: 0 0 0 10px rgba(255, 68, 68, 0); }
  100% { transform: scale(1); box-shadow: 0 0 0 0 rgba(255, 68, 68, 0); }
}
</style>

<% if (payState === 'select') { %>
<script>
const SEL_ORDER_ID = <%- JSON.stringify(order.orderId) %>;
let selectedMethod = null;

const cards = document.querySelectorAll('.method-card');
const createBtn = document.getElementById('createBtn');
const errBox = document.getElementById('createError');

function showPane(method) {
  document.querySelectorAll('.sub-pane').forEach(p => p.classList.remove('show'));
  const pane = document.getElementById('sub-' + method);
  if (pane) pane.classList.add('show');
}

cards.forEach(card => {
  card.addEventListener('click', () => {
    if (card.dataset.disabled) return;
    cards.forEach(c => c.classList.remove('active'));
    card.classList.add('active');
    selectedMethod = card.dataset.method;
    showPane(selectedMethod);
    errBox.style.display = 'none';
    createBtn.disabled = false;
    createBtn.innerHTML = '<i class="fas fa-arrow-right"></i> Lanjut Bayar';
  });
});

function gatherPayload() {
  const p = { method: selectedMethod };
  if (selectedMethod === 'va') p.bank_code = document.getElementById('vaBank').value;
  if (selectedMethod === 'emoney') {
    p.product_code = document.getElementById('ewProvider').value;
    p.phone = document.getElementById('ewPhone').value.trim();
  }
  if (selectedMethod === 'retail') p.retail_outlet = document.getElementById('retailOutlet').value;
  return p;
}

createBtn.addEventListener('click', async () => {
  if (!selectedMethod) return;
  const payload = gatherPayload();

  if (selectedMethod === 'emoney' && !/^0\d{8,14}$/.test(payload.phone || '')) {
    errBox.textContent = 'Masukkan nomor HP e-wallet yang valid (contoh: 081234567890).';
    errBox.style.display = 'block';
    return;
  }

  errBox.style.display = 'none';
  createBtn.disabled = true;
  createBtn.innerHTML = '<i class="fas fa-spinner fa-spin"></i> Membuat pembayaran...';

  try {
    const r = await fetch(`/api/payment/create/${SEL_ORDER_ID}`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(payload)
    });
    const data = await r.json();
    if (r.ok && data.ok) {
      window.location.reload();
    } else {
      errBox.textContent = data.error || 'Gagal membuat pembayaran. Coba metode lain.';
      errBox.style.display = 'block';
      createBtn.disabled = false;
      createBtn.innerHTML = '<i class="fas fa-arrow-right"></i> Lanjut Bayar';
    }
  } catch (e) {
    errBox.textContent = 'Terjadi kesalahan jaringan. Coba lagi.';
    errBox.style.display = 'block';
    createBtn.disabled = false;
    createBtn.innerHTML = '<i class="fas fa-arrow-right"></i> Lanjut Bayar';
  }
});
</script>
<% } %>

<% if (payState === 'instrument') { %>
<!-- Self-hosted dulu (same-origin, paling andal); cdnjs hanya cadangan kalau gagal -->
<script src="/js/qrcode.min.js" onerror="(function(){var s=document.createElement('script');s.src='https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js';document.head.appendChild(s);})()"></script>
<script>
const ORDER_ID = <%- JSON.stringify(order.orderId) %>;
const METHOD = <%- JSON.stringify(methodType || 'qris') %>;
const QR_STRING = <%- JSON.stringify(order.fr3QrString || '') %>;
const EXPIRY = <%- order.fr3Expiry ? (typeof order.fr3Expiry === 'number' ? order.fr3Expiry : new Date(order.fr3Expiry).getTime()) : (Date.now() + 10 * 60 * 1000) %>;
const METHOD_LABELS = { qris: 'QRIS', va: 'Virtual Account', emoney: 'E-Wallet', retail: 'Retail' };

let pollInterval;
let timerInterval;
let cancelled = false;

// ── QRIS render (hanya untuk metode qris) ──
function qrServerFallback(target) {
  const img = document.createElement('img');
  img.width = 220; img.height = 220; img.alt = 'QRIS Payment Code';
  img.style.cssText = 'border-radius:8px;display:block;';
  img.src = 'https://api.qrserver.com/v1/create-qr-code/?size=220x220&ecc=M&data=' + encodeURIComponent(QR_STRING);
  img.onerror = function () {
    target.innerHTML = '<div style="color:#999;font-size:0.8rem;text-align:center;"><i class="fas fa-exclamation-circle"></i><br>QR gagal dimuat</div>';
  };
  target.innerHTML = '';
  target.appendChild(img);
}

function renderQR() {
  const target = document.getElementById('qrRender');
  if (!target || !QR_STRING) return;
  if (typeof QRCode !== 'undefined') {
    try {
      target.innerHTML = '';
      new QRCode(target, {
        text: QR_STRING,
        width: 220, height: 220,
        colorDark: '#000000',
        colorLight: '#ffffff',
        correctLevel: QRCode.CorrectLevel.M
      });
      return;
    } catch (e) { /* jatuh ke qrserver di bawah */ }
  }
  qrServerFallback(target);
}

// ── Tombol salin (VA / kode retail) ──
document.querySelectorAll('.copy-btn').forEach(btn => {
  btn.addEventListener('click', async () => {
    const val = btn.getAttribute('data-copy') || '';
    try { await navigator.clipboard.writeText(val); }
    catch (e) {
      const ta = document.createElement('textarea');
      ta.value = val; document.body.appendChild(ta); ta.select();
      try { document.execCommand('copy'); } catch (_) {}
      document.body.removeChild(ta);
    }
    const orig = btn.innerHTML;
    btn.classList.add('copied');
    btn.innerHTML = '<i class="fas fa-check"></i> Tersalin';
    setTimeout(() => { btn.classList.remove('copied'); btn.innerHTML = orig; }, 1800);
  });
});

// ── Simpan QRIS Button ──
const saveQrBtn = document.getElementById('saveQrBtn');
if (saveQrBtn) {
  saveQrBtn.addEventListener('click', () => {
    const target = document.getElementById('qrRender');
    if (!target) return;
    
    const canvas = target.querySelector('canvas');
    const img = target.querySelector('img');
    
    let dataUrl = '';
    if (canvas) {
      dataUrl = canvas.toDataURL('image/png');
    } else if (img && img.src) {
      dataUrl = img.src;
    }
    
    if (!dataUrl) {
      alert('QR code belum siap didownload');
      return;
    }
    
    if (dataUrl.startsWith('http')) {
      fetch(dataUrl)
        .then(res => res.blob())
        .then(blob => {
          const url = window.URL.createObjectURL(blob);
          const a = document.createElement('a');
          a.style.display = 'none';
          a.href = url;
          a.download = 'QRIS-AlexCloud.png';
          document.body.appendChild(a);
          a.click();
          setTimeout(() => {
            window.URL.revokeObjectURL(url);
            document.body.removeChild(a);
          }, 100);
        })
        .catch(() => {
          window.open(dataUrl, '_blank');
        });
    } else {
      const a = document.createElement('a');
      a.style.display = 'none';
      a.href = dataUrl;
      a.download = 'QRIS-AlexCloud.png';
      document.body.appendChild(a);
      a.click();
      setTimeout(() => {
        document.body.removeChild(a);
      }, 100);
    }
  });
}

// ── Countdown timer ──
function markExpired() {
  clearInterval(timerInterval);
  clearInterval(pollInterval);
  const t = document.getElementById('payTimer'); if (t) t.textContent = '00:00';
  const ov = document.getElementById('qrExpired'); if (ov) ov.style.display = 'flex';
  const dot = document.getElementById('statusDot'); if (dot) dot.className = 'pay-status-dot expired';
  const st = document.getElementById('statusText'); if (st) st.textContent = 'Pembayaran Kadaluarsa';
  const cb = document.getElementById('cancelBtn'); if (cb) cb.style.display = 'none';
}

function startTimer() {
  timerInterval = setInterval(() => {
    const remaining = EXPIRY - Date.now();
    if (remaining <= 0) { markExpired(); return; }
    const m = Math.floor(remaining / 60000);
    const s = Math.floor((remaining % 60000) / 1000);
    const t = document.getElementById('payTimer');
    if (t) t.textContent = `${String(m).padStart(2,'0')}:${String(s).padStart(2,'0')}`;
  }, 1000);
}

// ── Poll payment status ──
function startPolling() { pollInterval = setInterval(checkStatus, 5000); }

async function checkStatus() {
  if (cancelled) return false;
  try {
    const r = await fetch(`/api/payment/status/${ORDER_ID}`);
    const data = await r.json();
    const st = (data.fr3Status || '').toUpperCase();
    if (st === 'SUCCESS' || st === 'PAID' || st === 'SETTLED' || data.status === 'confirmed') {
      clearInterval(pollInterval);
      clearInterval(timerInterval);
      showSuccess();
      return true;
    } else if (st === 'EXPIRED' || data.status === 'expired') {
      markExpired();
      return 'expired';
    }
    return false;
  } catch(e) {
    console.warn('Status check failed:', e);
    return 'error';
  }
}

async function manualCheckStatus(btn) {
  if (!btn || btn.disabled) return;
  const originalText = btn.innerHTML;
  btn.disabled = true;
  btn.innerHTML = '<i class="fas fa-spinner fa-spin"></i> Mengecek...';
  
  const result = await checkStatus();
  
  if (result === true) {
    // Sukses, halaman otomatis terupdate
  } else if (result === 'expired') {
    alert('Sesi pembayaran ini telah kedaluwarsa.');
  } else if (result === 'error') {
    alert('Gagal mengecek status pembayaran. Silakan coba beberapa saat lagi.');
  } else {
    alert('Pembayaran belum terdeteksi. Silakan transfer terlebih dahulu sesuai nominal tagihan.');
  }
  
  setTimeout(() => {
    btn.disabled = false;
    btn.innerHTML = originalText;
  }, 1000);
}

function showSuccess() {
  document.getElementById('statusBar').style.background = 'rgba(0,255,136,0.06)';
  document.getElementById('statusBar').style.borderColor = 'rgba(0,255,136,0.15)';
  document.getElementById('statusDot').className = 'pay-status-dot success';
  document.getElementById('statusText').textContent = '✅ Pembayaran Dikonfirmasi!';
  const t = document.getElementById('payTimer'); if (t) t.style.display = 'none';
  const cb = document.getElementById('cancelBtn'); if (cb) cb.style.display = 'none';

  const waNumber = <%- JSON.stringify(waNumber || '82328437656') %>;
  const userName = <%- JSON.stringify(user.name || '') %>;
  const userEmail = <%- JSON.stringify(user.email || '') %>;
  const planName = <%- JSON.stringify(plan.name || '') %>;
  const orderId = ORDER_ID;
  const totalBayar = 'Rp ' + <%- JSON.stringify(order.fr3TotalTransfer.toLocaleString('id-ID')) %>;

  const waMsg = [
    '✅ *KONFIRMASI PEMBAYARAN*',
    '',
    `📋 Order ID: *${orderId}*`,
    `👤 Nama: ${userName}`,
    `📧 Email: ${userEmail}`,
    `📦 Paket: *${planName}*`,
    `💰 Total Bayar: ${totalBayar}`,
    `💳 Metode: ${METHOD_LABELS[METHOD] || 'QRIS'} (MustikaPay)`,
    '',
    '✅ Pembayaran sudah terkonfirmasi otomatis.',
    'Mohon segera kirimkan akun cloud gaming saya.',
    'Terima kasih! 🙏'
  ].join('\n');

  const waLink = `https://wa.me/62${waNumber.replace(/^0/, '')}?text=${encodeURIComponent(waMsg)}`;
  document.getElementById('waConfirmBtn').href = waLink;

  document.getElementById('successState').style.display = 'block';
  document.getElementById('successState').scrollIntoView({ behavior: 'smooth', block: 'center' });
}

function cancelPayment() { document.getElementById('cancelConfirmModal').style.display = 'flex'; }
function closeCancelModal() { document.getElementById('cancelConfirmModal').style.display = 'none'; }

async function confirmCancelPayment() {
  closeCancelModal();
  cancelled = true;
  clearInterval(pollInterval);
  clearInterval(timerInterval);
  const btn = document.getElementById('cancelBtn');
  btn.disabled = true;
  btn.innerHTML = '<i class="fas fa-spinner fa-spin"></i> Membatalkan...';
  try {
    const r = await fetch(`/api/payment/cancel/${ORDER_ID}`, { method: 'POST' });
    const data = await r.json();
    if (data.success) {
      window.location.href = '/dashboard';
    } else {
      btn.disabled = false;
      btn.innerHTML = '<i class="fas fa-times"></i> Batalkan Pembayaran';
      alert('Gagal membatalkan: ' + (data.error || 'Unknown error'));
    }
  } catch(e) {
    btn.disabled = false;
    btn.innerHTML = '<i class="fas fa-times"></i> Batalkan Pembayaran';
  }
}

// Start
if (METHOD === 'qris') {
  renderQR();
  if (typeof QRCode === 'undefined') setTimeout(renderQR, 700);
}
startTimer();
startPolling();
setTimeout(checkStatus, 2000);
</script>
<% } %>

<%- include('partials/footer') %>
